<!DOCTYPE html>
<html>

<head>
    <title>Antiguedad de Deuda</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/assets/vendor/dhtmlx/skins/skyblue/dhtmlx.css">
    <link rel="stylesheet" type="text/css" href="<%=path%>style.css">
    <style type="text/css">
        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
            width: 100%
        }
    </style>
</head>

<body>
    <script type="text/javascript" src="/assets/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/assets/js/conf.js"></script>
    <script type="text/javascript" src="/assets/vendor/dhtmlx/codebase/dhtmlx.js"></script>
    <script type="text/javascript" src="/assets/ancestros/grid-busqueda.js"></script>
    <script type="text/javascript" src="/assets/ancestros/seguridad.js"></script>
    <script type="text/javascript" src="/assets/ancestros/linea-credito.js"></script>
    <script type="text/javascript" src="<%=path%>script.js"></script>
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
    <script src="https://code.highcharts.com/modules/drilldown.js"></script>
    <script type="text/javascript">
        var dhxToolbar, charttotal, dhxCombo, Dhxtabbar, actvId, Layout1, Layput2, Layput3, dhxGrid_fac, LayoutT, DhxGrid_1, DhxGrid_2, DhxGrid_3;
        /*let Formfilter =  [
            {type:"settings",position:"label-right"},
            {type: "select", offsetLeft: 8, position:"label-left",name: "periodo_st", width: 200, label: "Periodo :",   connector: BASE_URL + 'CR010902/list_periodo/'+ usrJson.empresa},
                {type: "fieldset", offsetLeft: 10, offsetTop: 55,  name: "mydata2", label: "Vencimientos : ", width:210, list:[
                {type: "radio",name : "rvenc", value: "dnvenc30", label: "No Venc.[30]", checked: "0"},
                {type: "radio",name : "rvenc", value: "dnvenc60", label: "No Venc.[60]", checked: "0"},
                 {type: "radio",name : "rvenc", value: "dnvenc90", label: "No Venc.[90]", checked: "0"},
                    {type: "radio",name : "rvenc", value: "dnvenc", label: "No Venc. [30,60,90]dias", checked: "1"},
                    {type: "radio",name : "rvenc", value: "dvenc", label: "Vencidos"},
                    {type: "radio",name : "rvenc", value: "tot", label: "Ambos(Deuda Total)"}
                ]},
                {type: "fieldset", offsetLeft: 10,  name: "mydata3", label: "Documentos : ", width:210, list:[
                    {type: "radio",name : "rdoc", value: "dfacbol", label: "Facturas/Boletas", checked: "1"},
                    {type: "radio",name : "rdoc", value: "dletras", label: "Letras"},
                    {type: "radio",name : "rdoc", value: "tot", label: "Ambos"}
                ]},
             {type: "button",  offsetLeft: 55,name: "btn", value: "Generar Gráfico"}
         ];*/


        IniciarComponentes();
    </script>
</body>

</html>