<!DOCTYPE html>
<html>
    <head>
        <title>Cliente</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="/assets/vendor/font-awesome-4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/assets/vendor/dhtmlx/skins/skyblue/dhtmlx.css">
        <link rel="stylesheet" type="text/css" href="/assets/vendor/dhtmlx/sources/dhtmlxform/codebase/skins/dhtmlxform_material.css">  
        <link rel="stylesheet" type="text/css" href="<%=path%>style.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <style type="text/css">
            html,body{height:100%;margin:0;padding:0;width:100%}
            #dhxDesktop{height:100%;width:100%;}
        </style>
    </head>
    <body>
        <div id="dhxDesktop"></div>
        <!-- scripts principales -->
        <script type="text/javascript" src="/assets/vendor/jquery/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="/assets/js/conf.js"></script>
        <script type="text/javascript" src="/assets/vendor/dhtmlx/codebase/dhtmlx.js"></script>
        <!-- script propio de la ventana -->
        <script type="text/javascript" src="<%=path%>script.js"></script>
        <!-- ancestro de la ventana de seguridad -->
        <script type="text/javascript"  src="/assets/ancestros/grid-busqueda.js"></script>
        <!-- scripts de la carga de la vista -->
        <script type="text/javascript" src="/assets/js/sweetalert.js"></script>
        <script>
            var mainLayout, mySidebar, base_tollbar, myForm, myDataView, estadook = 'VIGENTE', myToolBar, ubigeo, st_prin;
            var __id = 0, Nombrenew, Codigo, Nombreold, Estado;
            var st_form_base = [{type: "settings", labelWidth: 100},
           
                        {type: "block", blockOffset: 0, offsetTop: 0, width: 1000, list: [
                                  {type: "block", blockOffset: 0, position: "label-left", width: 80, list: [
                                      {type: "button", width: 60, value: '<i class="fas fa-search"></i>', offsetLeft: 7, name: "b_buscar", tooltip: "BUSCAR UN CLIENTE", className: "b_buscar", hidden: false}
                                       
                                    ]},{type: "newcolumn"},
                                {type: "block", blockOffset: 10, position: "label-left", width: 920, list: [
                                        {type: "template", offsetTop: 5, offsetLeft: 2, labelWidth: 60, name: "f_cliente", width: 800, label: "Cliente :", value: "20123487541 - EMPRESA EMPERATRIZ SAC", format: style},
                                        {type: "template", offsetTop: 5, offsetLeft: 2, name: "f_estado", labelWidth: 50, width: 50, label: "Estado :", value: "NO ASIGNADO", format: style}
                                    ]}]}
                  
            ];
            var st_form_edit = [{type: "settings", labelWidth: 100},
                {type: "block", blockOffset: 0, list: [
                        {type: "block", blockOffset: 0, offsetTop: 5, width: 450, list: [
                                {type: "block", blockOffset: 10, position: "label-left", width: 450, list: [
                                        {type: "input", offsetLeft: 2, labelWidth: 60, disabled: true, name: "__cod", width: 180, label: "Codigo :", value: "..."}, {type: "newcolumn"},
                                        {type: "input", offsetLeft: 2, name: "__direcc", rows: 2, style: "    background :  lemonchiffon;", width: 440, label: "Direccion :", value: "..."}, {type: "newcolumn"},
                                        {type: "block", blockOffset: 0, offsetTop: 8, width: 490, list: [
                                                {type: "input", name: '__nubigeo', labelWidth: 60, readonly: true, label: 'Ubigeo', offsetLeft: 0, inputWidth: 370}, {type: "newcolumn"},
                                                {type: "button", name: '__buscar', disabled: false, offsetLeft: 1, value: '<i class="fas fa-search"></i>'}
                                            ]},
                                        {type: "input", offsetTop: 5, offsetLeft: 2, name: "__corta", width: 440, label: "Dir. Corta :", value: "..."}, {type: "newcolumn"},
                                        {type: "checkbox", offsetTop: 8, offsetLeft: 2, labelWidth: 120, name: "__propio", width: 440, label: "LOCAL PROPIO :", value: "..."}
                                    ]}]}
                    ]},
                {type: "newcolumn"},
                {type: "block", blockOffset: 5, width: 470, list: [
                        {type: "button", offsetTop: 25, offsetLeft: 95, name: "b_save", value: "Guardar"}, {type: "newcolumn"},
                        {type: "button", offsetTop: 25, offsetLeft: 155, name: "b_cancel", value: "Cancelar", disabled: false}
                    ]}

            ];
            var base_tollbar = {iconset: "awesome", items: [
                    {id: "__nuevo", type: "button", disabled: false, text: "Nuevo", img: "fas fa-plus", imgdis: "fas fa-plus disable"},
                    {type: "separator"},
                    {id: "__edit", type: "button", text: "Editar", disabled: true, img: "fas fa-edit txtrblue", imgdis: "fas fa-edit disable"},
                    {type: "separator"},
                    {id: "__anula", type: "button", text: "Anular", disabled: true, img: "fas fa-ban txtred", imgdis: "fas fa-ban disable"},
                    {type: "separator"},
                    {id: "__activar", type: "button", text: "Activar", disabled: true, img: "fas fa-check-circle txtrgreen", imgdis: "fas fa-check-circle disable"},
                    {type: "separator"},
                    {id: "__principal", type: "button", text: "Marcar Principal", disabled: true, img: "fas fa-map-marker-alt txtrgreen", imgdis: "fas fa-map-marker-alt disable"},
                    {type: "separator"}
                ]};
            var sidebarjson = [
                {id: "s_sede", text: "SEDES", icon: "32/disk_d.png", selected: true},
                {id: "s_departa", text: "DEPARTAMENTOS", icon: "32/disk_e.png"},
                {id: "s_seccio", text: "SECCIONES", icon: "32/desktop.png"},
                {id: "s_oficina", text: "OFICINAS", icon: "32/desktop.png"}
            ];






            mainLayout = new dhtmlXLayoutObject(document.body, '2E');
            mainLayout.cells('a').hideHeader();
            mainLayout.cells('b').hideHeader();
            mainLayout.cells('b').setWidth(350);
            mainLayout.cells('a').setHeight(70);
            // mainLayout.cells('b').setText("D I R E C C I O N E S");
            myForm = mainLayout.cells('a').attachForm();
            myForm.load(st_form_base, doOnload);

            /*  myToolBar = mainLayout.cells("b").attachToolbar(base_tollbar);
             myToolBar.setIconSize(48);
             myToolBar.attachEvent("onClick", ontollbarclic);*/
            // f_s_sede(); //inicia por defecto el primer tab-sidebar


            mySidebar = mainLayout.cells('b').attachSidebar({parent: document.body, width: 150, single_cell: true, template: "icons_text", icons_path: "/assets/images/icons/iconsjhon/", items: sidebarjson});
            mySidebar.attachEvent("onBeforeSelect", onselect_sidebar);

            // myDataView.attachEvent("onAfterSelect", onAfterSelectDataview);
        </script>
    </body>
</html>