<!DOCTYPE html>
<html>
    <head>
        <title>Cartera de clientes</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="/assets/vendor/font-awesome-4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/assets/vendor/dhtmlx/skins/skyblue/dhtmlx.css">
        <link rel="stylesheet" type="text/css" href="/assets/vendor/dhtmlx/sources/dhtmlxform/codebase/skins/dhtmlxform_material.css">  
        <link rel="stylesheet" type="text/css" href="<%=path%>style.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <style type="text/css">
            html,body{height:100%;margin:0;padding:0;width:100%}
            #dhxDesktop{height:100%;width:100%;}
        </style>
    </head>
    <body>
        <div id="dhxDesktop"></div>
        <!-- scripts principales -->
        <script type="text/javascript" src="/assets/vendor/jquery/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="/assets/js/conf.js"></script>
        <script type="text/javascript" src="/assets/vendor/dhtmlx/codebase/dhtmlx.js"></script>
        <!-- script propio de la ventana -->
        <script type="text/javascript" src="<%=path%>script.js"></script>
        <!-- ancestro de la ventana de seguridad -->
        <script type="text/javascript"  src="/assets/ancestros/grid-busqueda.js"></script>
        <!-- scripts de la carga de la vista -->
        <script type="text/javascript" src="/assets/js/sweetalert.js"></script>
        <script>
            var mainLayout, mySidebar, base_tollbar, estadook = 'VIGENTE';
            var __id = 0, Nombrenew, Codigo, Nombreold, Estado;
            var st_form_base = [{type: "settings", labelWidth: 100},
                {type: "block", blockOffset: 15, list: [
                        {type: "block", blockOffset: 5, offsetTop: 10, width: 455, list: [
                                {type: "input", name: '__codigo', disabled: true, offsetTop: 0, inputWidth: 200, label: '<font class="input_font">Codigo</font>', required: true},
                                {type: "input", disabled: false, name: '__nombres', inputWidth: 320, label: '<font class="input_font">Nombre </font>', required: true},
                                {type: "combo", name: '__depacod', disabled: false, filtering: true, offsetLeft: 0, inputWidth: 250, label: '<font class="input_font">Departamento</font>', connector: BASE_URL + 'MA010601/c_list_depar/' + usrJson.empresa}, {type: "newcolumn"},
                                {type: "combo", name: '__sedecod', disabled: false, filtering: true, offsetLeft: 0, inputWidth: 250, label: '<font class="input_font">Sede</font>', connector: BASE_URL + 'MA010601/c_list_sede/' + usrJson.empresa}, {type: "newcolumn"},
                                {type: "combo", name: '__estado', disabled: false, filtering: true, offsetLeft: 0, inputWidth: 250, label: '<font class="input_font">Estado</font>', connector: BASE_URL + 'MA010601/c_list_estado/' + usrJson.empresa}, {type: "newcolumn"},
                                {type: "block", blockOffset: 0, width: 455, list: [
                                        {type: "input", name: '__nrespon', label: 'Encargado', offsetLeft: 0, inputWidth: 250}, {type: "newcolumn"},
                                        {type: "button", name: '__buscar', disabled: false, offsetLeft: 10, value: '<i class="fas fa-search"></i>'}
                                    ]}
                            ]}
                    ]},
                {type: "newcolumn"},
                {type: "block", blockOffset: 5, width: 470, list: [
                        {type: "button", offsetTop: 25, offsetLeft: 95,  name: "b_save", value: "Guardar"}, {type: "newcolumn"},
                        {type: "button", offsetTop: 25, offsetLeft: 155, name: "b_cancel",  value: "Cancelar", disabled: false}
                    ]}
            ];
         
            var base_tollbar = {iconset: "awesome", items: [
                    {id: "__nuevo", type: "button", disabled: false, text: "Nuevo", img: "fas fa-plus", imgdis: "fas fa-plus disable"},
                    {type: "separator"},
                    {id: "__edit", type: "button", text: "Editar", disabled: true, img: "fas fa-edit txtrblue", imgdis: "fas fa-edit disable"},
                    {type: "separator"},
                    {id: "__anula", type: "button", text: "Anular", disabled: true, img: "fas fa-ban txtred", imgdis: "fas fa-ban disable"},
                    {type: "separator"},
                    {id: "__activar", type: "button", text: "Activar", disabled: true, img: "fas fa-check-circle txtrgreen", imgdis: "fas fa-check-circle disable"},
                    {type: "separator"}
                ]};
            var struc_dataview = {container: "data_conten", drag: false, edit: true, select: true,
                type: {template: "<p class='centrarpdiv' >#Nombre#</p>",
                    template_edit: " <label for='text_sede'> Nombre :</label> <textarea id='text_sede' name='text_sede' class='editor_sede' bind='obj.Nombre'></textarea> <h3>***Maximo 70 carecteres...</h3>", height: 60}, autowidth: true};
            var sidebarjson = [
                {id: "s_sede", text: "SEDES", icon: "32/disk_d.png", selected: true},
                {id: "s_departa", text: "DEPARTAMENTOS", icon: "32/disk_e.png"},
                {id: "s_seccio", text: "SECCIONES", icon: "32/desktop.png"},
                {id: "s_oficina", text: "OFICINAS", icon: "32/desktop.png"}
            ];

            mainLayout = new dhtmlXLayoutObject(document.body, '1C');
            mainLayout.cells('a').hideHeader();
            //sidebar
            mySidebar = mainLayout.cells('a').attachSidebar({parent: document.body, width:150, single_cell: true, template: "icons_text", icons_path: "/assets/images/icons/iconsjhon/", items: sidebarjson});
            mySidebar.attachEvent("onBeforeSelect", onselect_sidebar);
            f_s_sede(); //inicia por defecto el primer tab-sidebar


        </script>
    </body>
</html>