<!DOCTYPE html>
<html>

<head>
    <title>Cliente</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--   <link rel="stylesheet" type="text/css" href="/assets/vendor/font-awesome-4.7.0/css/font-awesome.min.css"> -->
    <link rel="stylesheet" type="text/css" href="/assets/vendor/dhtmlx/skins/skyblue/dhtmlx.css">
    <!--   <link rel="stylesheet" type="text/css" href="/assets/vendor/dhtmlx/sources/dhtmlxform/codebase/skins/dhtmlxform_material.css">   -->
    <link rel="stylesheet" type="text/css" href="<%=path%>style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/vendor/dhtmlx/codebase/vault/codebase/vault.css" type="text/css">
    <style type="text/css">
        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
            width: 100%
        }

        #dhxDesktop {
            height: 100%;
            width: 100%;
        }
    </style>
</head>

<body>
    <div id="dhxDesktop"></div>
    <!-- scripts principales -->
    <script type="text/javascript" src="/assets/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/assets/js/conf.js"></script>
    <script type="text/javascript" src="/assets/vendor/dhtmlx/codebase/dhtmlx.js"></script>
    <script src="/assets/vendor/dhtmlx/codebase/vault/codebase/vault.js"></script>
    <!-- script propio de la ventana -->
    <!--<script type="text/javascript" src="<%=path%>script.js"></script> -->
    <script type="text/javascript" src="<%=path%>script.js"></script>
    <!-- ancestro de la ventana de seguridad -->
    <script type="text/javascript" src="/assets/ancestros/grid-busqueda.js"></script>
    <script type="text/javascript" src="/assets/ancestros/seguridad.js"></script>
    <!-- scripts de la carga de la vista -->
    <script type="text/javascript" src="/assets/js/sweetalert.js"></script>
    <script type="text/javascript">
        var myGridfz,myLayou_gara,myLayou_giro, myCarouselFile, myCombo, files__ = {},myLaouy_Dat ,myLayou_doc,myLayou_contac,myLayou_cbanc, myLayou_doc,myLayou_antec ,myLayou_comu, co_seq, sel_giroid,sel_antid,cobanco_s, copais_s, subgrid, sel_giro, mainLayout, myFormdatos, mySidebar, myLaouy_Direc, myGridLineaC, cod_direc, myToolbardirecc, base_tollbar, myForm, estadook = 'VIGENTE', codcliente, Wind_, json_select, permiso_cataedit = 'S', _item_sidebar = 's_datos',
            sel_zc, sel_zcid, subgrilla, sel_fv, sel_fvid, data, co_cata_entidad = 0, cocliente = 0, co_listadopre = 0, co_seri_listado = 0, cocliente_corpo = 0, nom_clien_corpo = '';
        var __id = 0, Nombrenew, Codigo, myFormdirecc, Nombreold, Estado, lc_frzvta, lc_comneda, lc_stperman, lc_obs, lc_monto;
        var myFormfz, myFormzc, myFormdirecc, estadook = 'VIGENTE', mySidebar, co_ubigeo, co_direccion = 0, _selecobject, zncomer = 0;
        /* var struc_dataview = {container: "data_conten", drag: false, edit: true, select: true, type: {template: "<p  >#DE_PAIS#</p><br><span class='centrarpdiv'>#DE_DIRECCION#</span>", height: 60}, autowidth: true};*/
        var st_form_base = [{ type: "settings", labelWidth: 100 },
        { type: "block", blockOffset: 0, position: "label-left", width: 1020, list: [
                { type: "template", offsetTop: 2, offsetLeft: 2, labelWidth: 60, name: "b_cliente", label: "Cliente :", value: "Busque un cliente", format: style }, { type: "newcolumn" },
                { type: "button", width: 60, value: '<i class="fas fa-search padt-5-f1-8"></i>', offsetTop: 0, offsetLeft: 7, name: "b_buscar", tooltip: "BUSCAR UN CLIENTE", hidden: false }, { type: "newcolumn" },
         ]}, {
                    type: "block", blockOffset: 0, position: "label-left", width: 1020, list: [
                        { type: "template", offsetTop: 5, offsetLeft: 2, name: "b_estado", labelWidth: 50, width: 150, label: "Estado :", value: "", format: style }, { type: "newcolumn" },
                        { type: "template", offsetTop: 5, offsetLeft: 100, name: "b_asignado", labelWidth: 60, width: 150, label: "Asignado :", value: "", format: style }, { type: "newcolumn" },
                        { type: "template", offsetTop: 5, offsetLeft: 100, name: "b_registro", labelWidth: 60, width: 150, label: "Registro :", value: "", format: style }, { type: "newcolumn" }
                    ]
                }
          
       
        ];
        var st_form_lcredito = [{ type: "settings", labelWidth: 100 },
        {
            type: "block", blockOffset: 20, list: [
                { type: "select", disabled: false, name: '_fuerzavta', labelWidth: 100, inputWidth: 250, label: 'Fuerza Venta :', connector: BASE_URL + 'MA010102/list_lincredito/' + usrJson.empresa }, { type: "newcolumn" },
                { type: "select", disabled: false, name: '_clmoneda', labelWidth: 100, inputWidth: 250, label: 'Moneda :', connector: BASE_URL + 'MA010102/list_moneda' }, { type: "newcolumn" },
                { type: "input", name: '__nucredito', labelWidth: 100, readonly: false, label: 'Monto :', offsetLeft: 0, inputWidth: 250 }, { type: "newcolumn" },
                { type: "input", offsetLeft: 0, labelWidth: 100, readonly: false, name: "__obscredito", rows: 2, style: "    background :  lemonchiffon;", width: 250, label: "Observacion :", value: "..." },
                { type: "checkbox", offsetTop: 8, disabled: false, offsetLeft: 2, labelWidth: 120, name: "__stcredperm", width: 440, label: "Credito Permanente ?", value: "..." }
            ]
        },
        { type: "newcolumn" },
        {
            type: "block", blockOffset: 5, list: [
                { type: "button", offsetTop: 25, offsetLeft: 15, name: "bc_nuevo", value: "Nuevo" }, { type: "newcolumn" },
                { type: "button", offsetTop: 25, offsetLeft: 15, name: "bc_save", value: "Guardar" }, { type: "newcolumn" },
                { type: "button", offsetTop: 25, offsetLeft: 15, name: "b_cancel", value: "Cancelar", disabled: false }, { type: "newcolumn" }
            ]
        }
        ];

        var st_form_edit = [{ type: "settings", labelWidth: 100 },
        {
            type: "block", blockOffset: 0, list: [
                {
                    type: "block", blockOffset: 0, offsetTop: 5, width: 450, list: [
                        {
                            type: "block", blockOffset: 10, position: "label-left", width: 450, list: [
                                { type: "input", offsetLeft: 2, labelWidth: 60, disabled: true, name: "__cod", width: 180, label: "Codigo :", value: "..." }, { type: "newcolumn" },
                                { type: "input", offsetLeft: 2, name: "__direcc", rows: 2, style: "    background :  lemonchiffon;", width: 440, label: "Direccion :", value: "..." }, { type: "newcolumn" },
                                {
                                    type: "block", blockOffset: 0, offsetTop: 8, width: 490, list: [
                                        { type: "input", name: '__nubigeo', labelWidth: 60, readonly: true, label: 'Ubigeo', offsetLeft: 0, inputWidth: 370 }, { type: "newcolumn" },
                                        { type: "button", name: '__buscar', disabled: false, offsetLeft: 1, value: '<i class="fas fa-search"></i>' }
                                    ]
                                },
                                { type: "input", offsetTop: 5, offsetLeft: 2, name: "__corta", width: 440, label: "Dir. Corta :", value: "..." }, { type: "newcolumn" },
                                { type: "checkbox", offsetTop: 8, offsetLeft: 2, labelWidth: 120, name: "__propio", width: 440, label: "LOCAL PROPIO :", value: "..." }
                            ]
                        }]
                }
            ]
        },
        { type: "newcolumn" },
        {
            type: "block", blockOffset: 5, width: 470, list: [
                { type: "button", offsetTop: 25, offsetLeft: 95, name: "b_save", value: "Guardar" }, { type: "newcolumn" },
                { type: "button", offsetTop: 25, offsetLeft: 155, name: "b_cancel", value: "Cancelar", disabled: false }
            ]
        }

        ];
        var base_tollbar = {
            iconset: "awesome", items: [
                { id: "__nuevo", type: "button", disabled: false, text: "Nuevo", img: "fas fa-plus txtrgreen", imgdis: "fas fa-plus disable txtrgreen" },
                { type: "separator" },
                { id: "__edit", type: "button", text: "Editar", disabled: false, img: "fas fa-edit txtred", imgdis: "fas fa-user-edit disable txtred" },
                { type: "separator" },
                /*   {id: "__asignar", type: "button", text: "Asignar", disabled: false, img: "fas fa-user-check txtrblue", imgdis: "fas fa-user-check disable txtrblue"},
                 {type: "separator"},*/
                { id: "__save", type: "button", text: "Guardar", disabled: true, img: "fas fa-save txtoran", imgdis: "fas fa-save disable txtoran" },
                { type: "separator" },

                { id: "__cancel", type: "button", text: "Cancelar", disabled: true, img: "fas fa-edit txtrblue", imgdis: "fas fa-edit disable" },
                { type: "separator" }

                /*      {id: "__anula", type: "button", text: "Anular", disabled: true, img: "fas fa-ban txtred", imgdis: "fas fa-ban disable"},
                 {type: "separator"},
                 {id: "__activar", type: "button", text: "Activar", disabled: true, img: "fas fa-check-circle txtrgreen", imgdis: "fas fa-check-circle disable"},
                 {type: "separator"},
                 {id: "__principal", type: "button", text: "Marcar Principal", disabled: true, img: "fas fa-map-marker-alt txtrgreen", imgdis: "fas fa-map-marker-alt disable"},
                 {type: "separator"}*/
            ]
        };
        var f_frzvta = [{ type: "settings", labelWidth: 100 },
        {
            type: "block", blockOffset: 20, position: "label-left", list: [
                {
                    type: "block", blockOffset: 20, offsetTop: 10, width: 390, list: [
                        { type: "select", name: '_fzvta', offsetLeft: 0, labelWidth: 80, inputWidth: 200, label: 'Fza. Venta', connector: BASE_URL + 'MA010102/fzvta/' + usrJson.empresa },
                        { type: "select", name: '_diavista', offsetLeft: 0, labelWidth: 80, inputWidth: 200, label: 'Día Visita', connector: BASE_URL + 'MA010102/dvisita' },
                        { type: "select", name: '_diacobranza', offsetLeft: 0, labelWidth: 80, inputWidth: 200, label: 'Día Cobranza', connector: BASE_URL + 'MA010102/dcobranza' },
                        { type: "input", value: '', readonly: true, labelWidth: 80, offsetLeft: 0, inputWidth: 200, name: "usu_regis", label: 'Registrado :' },
                        { type: "input", value: '', readonly: true, labelWidth: 80, offsetLeft: 0, inputWidth: 200, name: "f_sysfza", label: 'F. Registro :' },
                        { type: "input", value: '', readonly: true, labelWidth: 80, offsetLeft: 0, inputWidth: 200, name: "usu_actua", label: 'Actualizado :' },
                        { type: "input", value: '', readonly: true, labelWidth: 80, offsetLeft: 0, inputWidth: 200, name: "f_actualiza", label: 'F.Actualiza :' },
                        {
                            type: "block", blockOffset: 0, offsetTop: 8, width: 390, list: [
                                { type: "checkbox", labelWidth: 90, offsetLeft: 5, checked: false, readonly: false, offsetTop: 10, label: "<b>DIR.ENTREGA</b>", name: "ch_direntrega" }, { type: "newcolumn" },
                                { type: "checkbox", labelWidth: 100, offsetLeft: 10, checked: false, readonly: false, offsetTop: 10, label: "<b>DIR.FACTURA</b>", name: "ch_dirfactura" }, { type: "newcolumn" },
                                { type: "checkbox", labelWidth: 60, offsetLeft: 10, checked: false, readonly: false, offsetTop: 10, label: "<b>VIGENTE</b>", name: "ch_vigencia" }, { type: "newcolumn" },
                            ]
                        }
                    ]
                }
            ]
        }, {
            type: "block", blockOffset: 5, width: 420, list: [
                { type: "button", offsetTop: 25, offsetLeft: 10, name: "b_savefv", value: "Guardar Cambios" }, { type: "newcolumn" },
                { type: "button", offsetTop: 25, offsetLeft: 10, name: "b_cancel", value: "NO Guardar Cambios", disabled: false }, { type: "newcolumn" },
                { type: "button", offsetTop: 25, offsetLeft: 10, name: "b_salir", value: "Salir", disabled: false }, { type: "newcolumn" },
            ]
        }];
        var f_zcomer = [{ type: "settings", labelWidth: 100 },
        {
            type: "block", offsetTop: 30, blockOffset: 40, position: "label-left", list: [
                {
                    type: "block", blockOffset: 20, offsetTop: 10, width: 390, list: [
                        { type: "select", name: '_zncomer', offsetLeft: 0, labelWidth: 80, inputWidth: 250, label: 'Zona Comercial', connector: BASE_URL + 'MA010102/zncomercial/' + usrJson.empresa },
                        { type: "select", name: '_estado', offsetLeft: 0, labelWidth: 80, inputWidth: 200, label: 'Estado', connector: BASE_URL + 'MA010102/c_list_estado' },

                        { type: "input", value: '', readonly: true, labelWidth: 80, offsetLeft: 0, inputWidth: 200, name: "u_regis", label: 'Registrador :' },
                        { type: "input", value: '', readonly: true, labelWidth: 80, offsetLeft: 0, inputWidth: 200, name: "f_REGzcom", label: 'F. Registro :' },
                        { type: "input", value: '', readonly: true, labelWidth: 80, offsetLeft: 0, inputWidth: 200, name: "u_actu", label: 'Actualizado :' },
                        { type: "input", value: '', readonly: true, labelWidth: 80, offsetLeft: 0, inputWidth: 200, name: "f_act_zn", label: 'F.Actualiza :' },
                    ]
                }

            ]
        },
        {
            type: "block", blockOffset: 5, offsetTop: 35, width: 410, list: [
                { type: "button", offsetTop: 25, offsetLeft: 10, name: "b_savezn", value: "Guardar Cambios" }, { type: "newcolumn" },
                { type: "button", offsetTop: 25, offsetLeft: 10, name: "b_cancel", value: "NO Guardar Cambios", disabled: false }, { type: "newcolumn" },
                { type: "button", offsetTop: 25, offsetLeft: 10, name: "b_salir", value: "Salir", disabled: false }, { type: "newcolumn" },
            ]
        }];
        var f_garante = [{ type: "settings", labelWidth: 100 },
        {
            type: "block", blockOffset: 5, offsetTop: 5, width: 510, list: [
                { type: "template", offsetTop: 5, offsetLeft: 2, name: "titleform", width: 510, value: "Seleccione Garante", format: titleformgiro },
            ]
        },
        {
            type: "block", offsetTop: 10, blockOffset: 40, position: "label-left", list: [
                {
                    type: "block", blockOffset: 20, offsetTop: 10, width: 390, list: [
                        { type: "input", name: 'gar_idunico', disabled: true, readonly: true, offsetLeft: 0, value: '0', labelWidth: 80, inputWidth: 200, label: 'ID' },
                        { type: "input", name: 'gar_f_reg', disabled: true, readonly: true, offsetLeft: 0, labelWidth: 80, inputWidth: 200, label: 'F.Registro' },
                        { type: "input", name: 'gar_apellido', readonly: true, offsetLeft: 0, maxLength: 30, labelWidth: 80, inputWidth: 200, label: 'Apellidos' },
                        { type: "input", name: 'gar_nombres', readonly: true, offsetLeft: 0, maxLength: 30, labelWidth: 80, inputWidth: 200, label: 'Nombres' },
                        { type: "input", name: 'gar_direcc', readonly: true, offsetLeft: 0, maxLength: 70, labelWidth: 80, inputWidth: 200, label: 'Direccion' },
                        { type: "select", name: 'gar_tipodoc', disabled: true, labelWidth: 120, inputWidth: 150, label: 'Tipo Documento', connector: BASE_URL + 'home/list_tipodoc/' },
                        { type: "input", name: 'gar_nudocumen', validate: "ValidNumeric", readonly: true, offsetLeft: 0, maxLength: 15, labelWidth: 80, inputWidth: 200, label: 'Numero Doc.' },
                        { type: "select", name: 'gara_modoga', disabled: true, offsetLeft: 0, labelWidth: 80, inputWidth: 250, label: 'Modo Garantia', connector: BASE_URL + 'MA010102/modogaran' },
                        { type: "input", name: 'gara_capacidad', validate: "ValidNumeric", readonly: true, offsetLeft: 0, labelWidth: 80, inputWidth: 200, label: 'Capacidad' },
                        { type: "select", value: '', labelWidth: 80, offsetLeft: 0, disabled: true, inputWidth: 200, name: "gara_stado", label: 'Estado :', connector: BASE_URL + 'MA010102/c_list_estado' },
                        { type: "input", name: 'gara_telf', validate: "ValidNumeric", readonly: true, offsetLeft: 0, labelWidth: 80, inputWidth: 200, label: 'Telefono' },
                        { type: "checkbox", labelWidth: 150, offsetLeft: 40, checked: false, readonly: true, offsetTop: 10, label: "Aval Permanente ?", name: "ch_gar_perma" }
                    ]
                }
            ]
        },
        {
            type: "block", blockOffset: 5, offsetTop: 0, width: 510, list: [
                { type: "button", offsetTop: 2, offsetLeft: 5, name: "b_add", value: "NUEVO" }, { type: "newcolumn" },
                { type: "button", offsetTop: 2, offsetLeft: 5, name: "b_edit", value: "Editar" }, { type: "newcolumn" },
                { type: "button", offsetTop: 2, offsetLeft: 5, disabled: true, name: "b_save", value: "Guardar Cambios" }, { type: "newcolumn" },
                { type: "button", offsetTop: 2, offsetLeft: 5, disabled: true, name: "b_cancel", value: "NO Guardar Cambios" }, { type: "newcolumn" }

            ]
        }];
        var f_cuentas = [{ type: "settings", labelWidth: 100 },
        {
            type: "block", blockOffset: 5, offsetTop: 5, width: 510, list: [
                { type: "template", offsetTop: 5, offsetLeft: 2, name: "titleform", width: 510, value: "Seleccione una Cuenta", format: titleformgiro },
            ]
        },
        {

            type: "block", blockOffset: 20, offsetTop: 10, width: 500, list: [
                {
                    type: "block", blockOffset: 0, offsetTop: 10, width: 500, list: [
                        { type: "input", name: 'n_banco', offsetLeft: 0, readonly: true, value: '0', labelWidth: 80, inputWidth: 250, label: 'Banco' }, { type: "newcolumn" },
                        { type: "input", name: 'pais_banco', offsetLeft: 0, readonly: true, value: '0', labelWidth: 80, inputWidth: 50, label: '' }, { type: "newcolumn" },
                        { type: "button", name: '_b_banco', disabled: true, offsetLeft: 1, offsetTop: 0, value: '<i class="fas fa-search"></i>' }
                    ]
                },
                {
                    type: "block", blockOffset: 0, offsetTop: 10, width: 390, list: [
                        { type: "select", name: 'n_tipocta', offsetLeft: 0, value: '0', labelWidth: 80, inputWidth: 200, label: 'Tipo Cuenta', connector: BASE_URL + 'MA010102/tipocta' }, { type: "newcolumn" },
                        //  { type: "button", name: '_b_cta', disabled: true, offsetLeft: 1, offsetTop: 0, value: '<i class="fas fa-search"></i>' }
                    ]
                },

                { type: "input", name: 'nro_cta', readonly: true, offsetLeft: 0, labelWidth: 80, inputWidth: 200, label: 'Nro Cta' },

                { type: "input", name: 'cta_freg', disabled: true, readonly: true, offsetLeft: 0, maxLength: 15, labelWidth: 80, inputWidth: 200, label: 'Fe.Regis' },
                { type: "select", name: "cta_stado", value: '', labelWidth: 80, offsetLeft: 0, disabled: true, inputWidth: 200, label: 'Estado :', connector: BASE_URL + 'MA010102/c_list_estado' },

            ]

        },
        {
            type: "block", blockOffset: 5, offsetTop: 20, width: 510, list: [
                { type: "button", offsetTop: 2, offsetLeft: 5, name: "b_add", value: "NUEVO" }, { type: "newcolumn" },
                { type: "button", offsetTop: 2, offsetLeft: 5, name: "b_edit", value: "Editar" }, { type: "newcolumn" },
                { type: "button", offsetTop: 2, offsetLeft: 5, disabled: true, name: "b_save", value: "Guardar Cambios" }, { type: "newcolumn" },
                { type: "button", offsetTop: 2, offsetLeft: 5, disabled: true, name: "b_cancel", value: "NO Guardar Cambios" }, { type: "newcolumn" }

            ]
        }];
        var f_antecedentes = [{ type: "settings", labelWidth: 100 },
        {
            type: "block", blockOffset: 5, offsetTop: 5, width: 510, list: [
                { type: "template", offsetTop: 5, offsetLeft: 2, name: "titleform", width: 510, value: "Seleccione un Antecedente", format: titleformgiro },
            ]
        },
        {
            type: "block", offsetTop: 10, blockOffset: 40, position: "label-left", list: [
                {
                    type: "block", blockOffset: 20, offsetTop: 10, width: 590, list: [
                        //  { type: "select", name: 'cont_carg_repre', disabled: true, offsetLeft: 0, value: '0', labelWidth: 80, inputWidth: 200, label: 'Cargo Repres.', connector: BASE_URL + 'MA010102/cargo_repre/' },
                        { type: "input", name: 'ant_detalle', readonly: true, offsetLeft: 0,rows:2,maxLength: 70, labelWidth: 80, inputWidth: 200, label: 'Detalle' },
                        { type: "input", name: 'ant_satisfa', readonly: true, offsetLeft: 0,  labelWidth: 80, inputWidth: 80, label: 'Rng Satisfaccion' },
                        { type: "input", name: 'ant_referencia', readonly: true, offsetLeft: 0,  labelWidth: 80, inputWidth: 80, label: 'Referencia' },
                        {
                            type: "block", blockOffset: 0, offsetTop: 5, list: [
                                { type: "input", name: 'ant_ccosto', labelWidth: 80,hidden:true,readonly: true, label: 'Centro Costos', offsetLeft: 0, inputWidth: 260 }, { type: "newcolumn" },
                                { type: "button", name: '__buscacosto', disabled: true,hidden:true, offsetLeft: 1, offsetTop: 0, value: '<i class="fas fa-search"></i>' }, { type: "newcolumn" },
                                
                            ]
                        },
                        { type: "input", name: 'ant_usua', readonly: true, disabled:true, offsetLeft: 0, maxLength: 70, labelWidth: 80, inputWidth: 200, label: 'Usuario' },
                        { type: "input", name: 'ant_fesys',  readonly: true,disabled:true, offsetLeft: 0, labelWidth: 80, inputWidth: 200, label: 'Fe.Registro' }
                        //{ type: "input", name: 'ant_empre', disabled: true, readonly: true, offsetLeft: 0, maxLength: 15, labelWidth: 80, inputWidth: 200, label: 'Empresa' }
                       
                    ]
                }
            ]
        },
        {
            type: "block", blockOffset: 5, offsetTop: 20, width: 510, list: [
                { type: "button", offsetTop: 2, offsetLeft: 5, name: "b_add", value: "NUEVO" }, { type: "newcolumn" },
                { type: "button", offsetTop: 2, offsetLeft: 5,disabled: true, name: "b_edit", value: "Editar" }, { type: "newcolumn" },
                { type: "button", offsetTop: 2, offsetLeft: 5, disabled: true, name: "b_save", value: "Guardar Cambios" }, { type: "newcolumn" },
                { type: "button", offsetTop: 2, offsetLeft: 5, disabled: true, name: "b_cancel", value: "NO Guardar Cambios" }, { type: "newcolumn" }

            ]
        }];
        var f_comunicacion = [{ type: "settings", labelWidth: 100 },
        {
            type: "block", blockOffset: 5, offsetTop: 5, width: 510, list: [
                { type: "template", offsetTop: 5, offsetLeft: 2, name: "titleform", width: 510, value: "Seleccione un Numero", format: titleformgiro },
            ]
        },
        {
            type: "block", offsetTop: 10, blockOffset: 40, position: "label-left", list: [
                {
                    type: "block", blockOffset: 20, offsetTop: 10, width: 590, list: [
                        //  { type: "select", name: 'cont_carg_repre', disabled: true, offsetLeft: 0, value: '0', labelWidth: 80, inputWidth: 200, label: 'Cargo Repres.', connector: BASE_URL + 'MA010102/cargo_repre/' },
                        { type: "select", name: 'selc_operador', disabled: true, labelWidth: 80,disabled: true, inputWidth: 150, label: 'Operador ', connector: BASE_URL + 'MA010102/list_operador/' },
                        { type: "input", name: 'num_celular', readonly: true, offsetLeft: 0,  labelWidth: 80, inputWidth: 80, label: 'Numero' },
                        { type: "select", name: "num_stado", value: '', labelWidth: 80, offsetLeft: 0, disabled: true, inputWidth: 200, label: 'Estado :', connector: BASE_URL + 'MA010102/c_list_estado' },
                    
                    ]
                }
            ]
        },
        {
            type: "block", blockOffset: 5, offsetTop: 20, width: 510, list: [
                { type: "button", offsetTop: 2, offsetLeft: 5, name: "b_add", value: "NUEVO" }, { type: "newcolumn" },
                { type: "button", offsetTop: 2, offsetLeft: 5,disabled: true, name: "b_edit", value: "Editar" }, { type: "newcolumn" },
                { type: "button", offsetTop: 2, offsetLeft: 5, disabled: true, name: "b_save", value: "Guardar Cambios" }, { type: "newcolumn" },
                { type: "button", offsetTop: 2, offsetLeft: 5, disabled: true, name: "b_cancel", value: "NO Guardar Cambios" }, { type: "newcolumn" }

            ]
        }];
        var f_contacto = [{ type: "settings", labelWidth: 100 },
        {
            type: "block", blockOffset: 5, offsetTop: 5, width: 510, list: [
                { type: "template", offsetTop: 5, offsetLeft: 2, name: "titleform", width: 510, value: "Seleccione Contacto", format: titleformgiro },
            ]
        },
        {
            type: "block", offsetTop: 10, blockOffset: 40, position: "label-left", list: [
                {
                    type: "block", blockOffset: 20, offsetTop: 10, width: 390, list: [
                        { type: "select", name: 'cont_carg_repre', disabled: true, offsetLeft: 0, value: '0', labelWidth: 80, inputWidth: 200, label: 'Cargo Repres.', connector: BASE_URL + 'MA010102/cargo_repre/' },
                        { type: "input", name: 'cont_co_repres', disabled: true, readonly: true, offsetLeft: 0, labelWidth: 80, inputWidth: 200, label: 'RUC/DNI' },
                        { type: "input", name: 'cont_apellido', readonly: true, offsetLeft: 0, maxLength: 30, labelWidth: 80, inputWidth: 200, label: 'Apellidos' },
                        { type: "input", name: 'cont_nombres', readonly: true, offsetLeft: 0, maxLength: 30, labelWidth: 80, inputWidth: 200, label: 'Nombres' },
                        { type: "input", name: 'cont_email', readonly: true, offsetLeft: 0, maxLength: 70, labelWidth: 80, inputWidth: 200, label: 'Email' },
                        { type: "input", name: 'cont_telf', validate: "ValidNumeric", readonly: true, offsetLeft: 0, labelWidth: 80, inputWidth: 200, label: 'Telefono' },
                        { type: "input", name: 'cont_f_reg', disabled: true, readonly: true, offsetLeft: 0, maxLength: 15, labelWidth: 80, inputWidth: 200, label: 'Fe.Regis' },
                        { type: "select", name: "cont_stado", value: '', labelWidth: 80, offsetLeft: 0, disabled: true, inputWidth: 200, label: 'Estado :', connector: BASE_URL + 'MA010102/c_list_estado' },
                        { type: "input", name: 'cont_f_retiro', disabled: true, readonly: true, offsetLeft: 0, maxLength: 15, labelWidth: 80, inputWidth: 200, label: 'Fe.Retiro' },
                    ]
                }
            ]
        },
        {
            type: "block", blockOffset: 5, offsetTop: 20, width: 510, list: [
                { type: "button", offsetTop: 2, offsetLeft: 5, name: "b_add", value: "NUEVO" }, { type: "newcolumn" },
                { type: "button", offsetTop: 2, offsetLeft: 5, name: "b_edit", value: "Editar" }, { type: "newcolumn" },
                { type: "button", offsetTop: 2, offsetLeft: 5, disabled: true, name: "b_save", value: "Guardar Cambios" }, { type: "newcolumn" },
                { type: "button", offsetTop: 2, offsetLeft: 5, disabled: true, name: "b_cancel", value: "NO Guardar Cambios" }, { type: "newcolumn" }

            ]
        }];
        var f_giro = [{ type: "settings", labelWidth: 100 },
        {
            type: "block", blockOffset: 5, offsetTop: 35, width: 520, list: [
                { type: "template", offsetTop: 5, offsetLeft: 2, name: "titleform", width: 520, value: "Seleccione Giro Negocio", format: titleformgiro },
            ]
        },
        {
            type: "block", offsetTop: 30, blockOffset: 40, position: "label-left", list: [
                {
                    type: "block", blockOffset: 20, offsetTop: 10, width: 390, list: [
                        { type: "select", name: '_giro', disabled: true, offsetLeft: 0, labelWidth: 80, inputWidth: 250, label: 'Rubro', connector: BASE_URL + 'MA010102/rubro' },
                        { type: "input", name: 'giro_detalle', readonly: true, offsetLeft: 0, labelWidth: 80, maxLength: 30, inputWidth: 200, label: 'Detalle' },
                        { type: "select", value: '', labelWidth: 80, offsetLeft: 0, disabled: true, inputWidth: 200, name: "giro_stado", label: 'Estado :', connector: BASE_URL + 'MA010102/c_list_estado' },
                        { type: "input", value: '', readonly: true, labelWidth: 80, offsetLeft: 0, inputWidth: 200, name: "giro_f_reg", label: 'F.Registro :' },
                        { type: "input", value: '', readonly: true, labelWidth: 80, offsetLeft: 0, inputWidth: 200, name: "giro_f_retiro", label: 'F.Retiro :' },
                    ]
                }
            ]
        },
        {
            type: "block", blockOffset: 5, offsetTop: 35, width: 520, list: [
                { type: "button", offsetTop: 25, offsetLeft: 5, name: "b_add", value: "NUEVO" }, { type: "newcolumn" },
                { type: "button", offsetTop: 25, offsetLeft: 5, name: "b_edit", value: "Editar" }, { type: "newcolumn" },
                { type: "button", offsetTop: 25, offsetLeft: 5, disabled: true, name: "b_save", value: "Guardar Cambios" }, { type: "newcolumn" },
                { type: "button", offsetTop: 25, offsetLeft: 5, disabled: true, name: "b_cancel", value: "NO Guardar Cambios" }, { type: "newcolumn" }

            ]
        }];
        var f_direccion = [{ type: "settings", labelWidth: 100 },
        {
            type: "block", blockOffset: 7, position: "label-left", list: [
                {
                    type: "block", blockOffset: 0, offsetTop: 8, width: 650, list: [
                        { type: "input", readonly: true, value: '', labelWidth: 80, offsetLeft: 0, inputWidth: 100, name: "cod_direc", label: 'Codigo :', validate: "ValidInteger" }, { type: "newcolumn" },
                        { type: "checkbox", labelWidth: 80, offsetLeft: 40, checked: false, readonly: true, offsetTop: 10, label: "<b>BORRADO</b>", name: "ch_borrado" }, { type: "newcolumn" },
                        { type: "checkbox", labelWidth: 150, offsetLeft: 40, checked: false, readonly: true, offsetTop: 10, label: "<b>LOCAL PRINCIPAL</b>", name: "ch_principal" }, { type: "newcolumn" }
                    ]
                },
                {
                    type: "block", blockOffset: 0, offsetTop: 5, list: [
                        { type: "input", name: '__debigeo', labelWidth: 80, readonly: true, label: 'Ubigeo', offsetLeft: 0, inputWidth: 260 }, { type: "newcolumn" },
                        { type: "button", name: '__buscarubigeo', disabled: true, offsetLeft: 1, offsetTop: 0, value: '<i class="fas fa-search"></i>' }, { type: "newcolumn" },
                        { type: "input", name: '_postal', labelWidth: 80, readonly: true, label: 'C. Postal ', offsetLeft: 20, inputWidth: 100 }, { type: "newcolumn" }
                    ]
                },
                {
                    type: "block", blockOffset: 0, offsetTop: 5, width: 650, list: [
                        {
                            type: "block", blockOffset: 0, offsetTop: 0, width: 450, list: [
                                {
                                    type: "block", blockOffset: 0, offsetTop: 0, width: 450, list: [
                                        { type: "select", disabled: true, name: '_via', offsetLeft: 0, labelWidth: 80, inputWidth: 100, label: 'Via', connector: BASE_URL + 'MA010102/via' }, { type: "newcolumn" }, { type: "newcolumn" },
                                        { type: "input", name: '_nvia', readonly: true, label: '', offsetLeft: 0, inputWidth: 250 }
                                    ]
                                },
                                {
                                    type: "block", blockOffset: 0, width: 500, list: [
                                        { type: "select", disabled: true, name: '_zona', offsetLeft: 0, labelWidth: 80, inputWidth: 100, label: 'Zona', connector: BASE_URL + 'MA010102/zona' }, { type: "newcolumn" },
                                        { type: "input", name: '_nzona', readonly: true, label: '', offsetLeft: 0, inputWidth: 250 }, { type: "newcolumn" }
                                    ]
                                }
                            ]
                        }, { type: "newcolumn" },
                        {
                            type: "block", blockOffset: 0, offsetTop: 0, width: 200, list: [
                                { type: "input", name: '_numero', labelWidth: 60, readonly: true, label: 'Numero :', offsetLeft: 0, inputWidth: 100 },
                                { type: "input", name: '_interior', labelWidth: 60, readonly: true, label: 'Interior :', offsetLeft: 0, inputWidth: 100 }
                            ]
                        }
                    ]
                }
            ]
        },
        {
            type: "block", blockOffset: 5, position: "label-left", width: 'auto', list: [
                { type: "input", offsetLeft: 0, labelWidth: 80, readonly: true, name: "_referencias", rows: 2, style: "    background :  lemonchiffon;", width: 350, label: "Referencias :", value: "..." }
            ]
        }, { type: "newcolumn" },
        {
            type: "block", blockOffset: 10, offsetTop: 5, width: 650, list: [
                {
                    type: "fieldset", blockOffset: 0, offsetLeft: 5, label: "Coordenadas Geográficas", inputWidth: 250, list: [
                        { type: "input", offsetLeft: 0, labelWidth: 50, readonly: true, name: "_altitud", width: 150, label: "Altitud :", value: "0" },
                        { type: "input", offsetLeft: 0, labelWidth: 50, readonly: true, name: "_latitud", width: 150, label: "Latitud :", value: "0" }, { type: "newcolumn" },
                        { type: "input", offsetLeft: 0, labelWidth: 50, readonly: true, name: "_zoom", width: 100, label: "Zoom :", value: "0" }, { type: "newcolumn" }
                    ]
                }, { type: "newcolumn" },
                {
                    type: "fieldset", offsetLeft: 10, label: "Hora Atención", inputWidth: 150, list: [
                        { type: "input", offsetLeft: 0, labelWidth: 40, readonly: true, name: "_iniaten", width: 50, label: "Incio :", value: "00:00" },
                        { type: "input", offsetLeft: 0, labelWidth: 40, readonly: true, name: "_finaten", width: 50, label: "Fin :", value: "00:00" }
                    ]
                }, { type: "newcolumn" },
                {
                    type: "fieldset", offsetLeft: 10, label: "Más Datos", inputWidth: 150, list: [
                        { type: "button", name: '__fz_zn', disabled: true, offsetLeft: 1, offsetTop: 0, value: 'Z.COMER/F.VTA <i class="fas fa-map-marked-alt"></i>' },
                        // {type: "button", name: '__zncomer', disabled: true, offsetLeft: 1, offsetTop: 0, value: 'Z.COMERCIAL <i class="fas fa-search"></i>'}
                    ]
                }
            ]
        },
        {
            type: "block", blockOffset: 5, offsetTop: 5, width: 650, list: [
                { type: "input", offsetLeft: 0, labelWidth: 80, readonly: true, name: "_usureg", width: 150, label: "Usu. Reg. :", value: "0" }, { type: "newcolumn" },
                { type: "input", offsetLeft: 10, labelWidth: 70, readonly: true, name: "_fsys", width: 100, label: "F. Sys :", value: "0" }, { type: "newcolumn" },
                { type: "input", offsetLeft: 10, labelWidth: 70, readonly: true, name: "_estado", width: 100, label: "Estado :", value: "0" }, { type: "newcolumn" }
            ]
        }
        ];


        var sidebarjson = [
            { id: "s_datos", text: "DATOS CLIENTE", icon: "32/disk_d.png", selected: true },
            { id: "s_direccion", text: "DIRECCIONES", icon: "32/disk_e.png" },
            { id: "s_giro", text: "GIRO DE NEGOCIO", icon: "32/desktop.png" },
            { id: "s_garante", text: "GARANTES", icon: "32/desktop.png" },
            { id: "s_contacto", text: "CONTACTOS", icon: "32/desktop.png" },
            { id: "s_cuentas", text: "CTAS BANCARIAS", icon: "32/desktop.png" },
            { id: "s_documento", text: "DOC. ADJUNTOS", icon: "32/desktop.png" },
            { id: "s_antecedente", text: "ANTECEDENTES", icon: "32/desktop.png" },
            { id: "s_comunicacion", text: "COMUNICACIÓN", icon: "32/desktop.png" }
        ];

        var f_datos_cliente = [{ type: "settings", labelWidth: 100 },
        {
            type: "checkbox", labelWidth: 145, offsetLeft: 10, checked: false, disabled: true, offsetTop: 10, label: "<b>Datos Personales ?</b>", name: "st_personales", list: [
                {
                    type: "block", blockOffset: 10, position: "label-left", width: 'auto', list: [
                        { type: "select", disabled: true, name: '_tipodoc', labelWidth: 120, inputWidth: 150, label: '<font class="input_font">Tipo Documento</font>', connector: BASE_URL + 'home/list_tipodoc/' }, { type: "newcolumn" },
                        { type: "input", readonly: true, value: '', offsetLeft: 47, inputWidth: 110, name: "_nudocumento", label: 'Nro Documento :', validate: "ValidInteger" }, { type: "newcolumn" },
                        { type: "button", width: 20, disabled: true, value: '<i class="fas fa-search"></i>', offsetTop: 0, offsetLeft: 7, name: "b_dniservice", tooltip: "BUSCAR CLIENTE", hidden: false }, { type: "newcolumn" }
                    ]
                }, { type: "newcolumn" },
                {
                    type: "block", blockOffset: 0, position: "label-left", width: 'auto', list: [
                        { type: "select", disabled: true, name: '_tipoper', offsetLeft: 20, labelWidth: 80, inputWidth: 170, label: 'Tipo Persona', connector: BASE_URL + 'MA010102/list_tipopers/' }, { type: "newcolumn" },
                        { type: "select", disabled: true, name: '_vigencia', offsetLeft:20, labelWidth: 80, inputWidth: 100, label: 'Vigencia :', connector: BASE_URL + 'MA010102/list_estadocleinte/' }, { type: "newcolumn" }
                    ]
                }, { type: "newcolumn" },
                { type: "input", readonly: true, name: '_razsocial', offsetLeft: 10, labelWidth: 120, inputWidth: 550, label: 'Razon Social :', required: true },
                { type: "input", readonly: true, name: '_nomcomer', offsetLeft: 10, labelWidth: 120, inputWidth: 550, label: 'Nombre Comercial :', required: true },
                {
                    type: "block", blockOffset: 0, position: "label-left", width: 'auto', list: [
                        { type: "input", readonly: true, name: '_apepat', offsetLeft: 10, labelWidth: 120, inputWidth: 230, label: 'Ape. Paterno :' }, { type: "newcolumn" },
                        { type: "input", readonly: true, name: '_apemat', offsetLeft: 10, labelWidth: 120, inputWidth: 230, label: 'Ape. Materno :' }, { type: "newcolumn" },
                        { type: "input", readonly: true, name: '_nombres', offsetLeft: 10, labelWidth: 120, inputWidth: 230, label: 'Nombres :' }
                    ]
                }, { type: "newcolumn" },
                {
                    type: "block", blockOffset: 0, position: "label-left", width: 'auto', list: [
                        { type: "select", disabled: true, name: '_procedencia', offsetLeft: 10, labelWidth: 120, inputWidth: 150, label: 'Procedencia :', connector: BASE_URL + 'MA010102/list_procedencia/' }, { type: "newcolumn" },
                        { type: "select", disabled: true, name: '_origen', offsetLeft: 20, labelWidth: 60, inputWidth: 150, label: 'Origen :', connector: BASE_URL + 'MA010102/list_origen/' }, { type: "newcolumn" },
                        { type: "input", readonly: true, name: '_fredcata', offsetLeft: 20, labelWidth: 60, inputWidth: 150, label: 'Registro :' }, { type: "newcolumn" }
                    ]
                }
            ]
        }, { type: "newcolumn" },

        {
            type: "checkbox", labelWidth: 145, offsetLeft: 10, checked: false, disabled: true, offsetTop: 20, label: "<b>Agregar como Cliente ?</b>", name: "st_cliente", list: [
                {
                    type: "block", blockOffset: 0, position: "label-left", offsetTop: 10, width: 'auto', list: [
                        { type: "select", disabled: true, name: '_tipocliente', offsetLeft: 10, labelWidth: 80, inputWidth: 100, label: 'Tipo cliente :', connector: BASE_URL + 'MA010102/list_tipocliente/' }, { type: "newcolumn" },
                        { type: "checkbox", disabled: true, name: '_ch_listaprecio', offsetLeft: 10, labelWidth: 80, inputWidth: 5, label: 'Lista precio :' }, { type: "newcolumn" },
                        { type: "input", readonly: true, name: '_listaprecios', offsetLeft: 10, labelWidth: 1, disabled: true, inputWidth: 400, label: '' }, { type: "newcolumn" },
                        { type: "button", width: 60, disabled: true, value: '<i class="fas fa-search padt-5-f1-8"></i>', offsetTop: 0, offsetLeft: 7, name: "b_busprecios", tooltip: "BUSCAR UNA LISTA DE PRECIOS", hidden: false }, { type: "newcolumn" }
                    ]
                }, { type: "newcolumn" },

                {
                    type: "block", blockOffset: 0, position: "label-left", width: 'auto', list: [
                        { type: "checkbox", disabled: true, name: '_ch_recaudo', offsetLeft: 10, labelWidth: 120, inputWidth: 10, label: 'Recaudo Bancario :' }, { type: "newcolumn" },
                        { type: "select", disabled: true, name: '_tipobanco', offsetLeft: 0, labelWidth: 1, inputWidth: 200, label: ' ', connector: BASE_URL + 'MA010102/list_banco/' }, { type: "newcolumn" },
                        { type: "select", disabled: true, name: '_tipo_negoc', offsetLeft: 10, labelWidth: 0, inputWidth: 150, label: 'Tipo Negocio :', connector: BASE_URL + 'MA010102/list_tiponego/' }, { type: "newcolumn" },
                        { type: "checkbox", disabled: true, name: '_ch_excepcredito', offsetLeft: 10, labelWidth: 130, inputWidth: 5, label: 'Exceptua Sol Crédito :' }, { type: "newcolumn" }
                    ]
                },
                { type: "newcolumn" },

                {
                    type: "block", blockOffset: 0, position: "label-left", width: 'auto', list: [
                        { type: "checkbox", disabled: true, name: '_ch_agenretenedor', offsetLeft: 10, labelWidth: 120, inputWidth: 5, label: 'Ag. Retenedor ?' }, { type: "newcolumn" },
                        { type: "checkbox", disabled: true, name: '_ch_agentpercep', offsetLeft: 10, labelWidth: 100, inputWidth: 5, label: 'Ag. Percepción ?' }, { type: "newcolumn" },
                        { type: "checkbox", disabled: true, name: '_ch_clinuevo', offsetLeft: 10, labelWidth: 100, inputWidth: 5, label: 'Cliente Nuevo ?' }, { type: "newcolumn" },
                        { type: "input", readonly: true, name: '_ingreso', value: '0', offsetLeft: 10, labelWidth: 50, inputWidth: 100, label: 'Ingreso' }, { type: "newcolumn" }
                    ]
                }, { type: "newcolumn" },
                {
                    type: "block", blockOffset: 0, position: "label-left", width: 'auto', list: [
                        { type: "checkbox", disabled: true, name: '_ch_clicorporativo', offsetLeft: 10, labelWidth: 120, inputWidth: 5, label: 'Cliente Corporativo ?' }, { type: "newcolumn" },
                        { type: "input", readonly: true, name: '_clientecorporativo', offsetLeft: 10, labelWidth: 1, inputWidth: 280, label: '', disabled: true }, { type: "newcolumn" },
                        { type: "button", width: 60, value: '<i class="fas fa-search padt-5-f1-8"></i>', offsetTop: 0, offsetLeft: 7, disabled: true, name: "b_clientecorp", tooltip: "BUSCAR CLIENTES CORPORATIVOS", hidden: false }, { type: "newcolumn" }
                        //{type: "button", width: 60, value: '<i class="far fa-credit-card padt-5-f1-8"></i>', offsetTop: 0, offsetLeft: 7, disabled: false, name: "b_creditolinea", tooltip: "AGREGAR LINEA DE CREDITO", hidden: false}, {type: "newcolumn"}
                    ]
                }, { type: "newcolumn" },
                {
                    type: "block", blockOffset: 0, position: "label-left", width: 'auto', list: [
                        { type: "input", readonly: true, name: '_creditototal', value: '0.00', offsetLeft: 10, labelWidth: 100, inputWidth: 150, label: 'Credito Total : ' }, { type: "newcolumn" },
                        { type: "input", readonly: true, name: '_deudatotal', value: '0.00', offsetLeft: 10, labelWidth: 100, inputWidth: 150, label: 'Deuda Total : ' }, { type: "newcolumn" }
                    ]
                }, { type: "newcolumn" },
                {
                    type: "block", blockOffset: 0, position: "label-left", width: 'auto', list: [
                        { type: "input", readonly: true, name: '_email', offsetLeft: 10, labelWidth: 100, inputWidth: 350, label: 'Email : ' }, { type: "newcolumn" },
                        { type: "input", readonly: true, name: '_webpage', offsetLeft: 10, labelWidth: 100, inputWidth: 350, label: 'Webpage : ' }, { type: "newcolumn" }
                    ]
                },
                {
                    type: "block", blockOffset: 0, position: "label-left", width: 'auto', list: [
                        { type: "input", readonly: true, name: '_fregcliente', value: '', offsetLeft: 10, labelWidth: 100, inputWidth: 120, label: 'Registro Cliente : ' }, { type: "newcolumn" },
                        { type: "select", disabled: true, name: '_clvigencia', offsetLeft: 10, labelWidth: 100, inputWidth: 120, label: 'Vigencia Cliente : ', connector: BASE_URL + 'MA010102/list_estadocleinte/' }, { type: "newcolumn" },
                        { type: "input", readonly: true, name: '_fretiro', offsetLeft: 10, labelWidth: 100, inputWidth: 120, label: 'Retiro : ' }, { type: "newcolumn" }
                    ]
                }
            ]
        }
        ];
        function titleformgiro(name, value) {
            if (name == "titleform")
                return "<div class='titleform'>" + value + "</div>";
        }



        mainLayout = new dhtmlXLayoutObject(document.body, '2E');
        mainLayout.cells('a').hideHeader();
        mainLayout.cells('b').hideHeader();
        mainLayout.cells('b').setWidth(350);
        mainLayout.cells('a').setHeight(70);
        mainLayout.setSeparatorSize(0, 0);
        myForm = mainLayout.cells('a').attachForm();
        myForm.load(st_form_base);
        myForm.attachEvent("onButtonClick", onBuscaMaestro);

        mySidebar = mainLayout.cells('b').attachSidebar({ parent: document.body, width: 150, single_cell: false, template: "text", icons_path: "/assets/images/icons/iconsjhon/", items: sidebarjson });
        mySidebar.attachEvent("onBeforeSelect", onselect_sidebar);
        f_s_datos();
        valores_defecto();

    </script>

</body>

</html>