
#b_nuewclie{
    text-decoration: none;
    padding: 5px;
    font-weight: 600;
    font-size: 20px;
    width: 280px;
    cursor: pointer;
    text-align: center;
    margin:0px auto;
    font-family: century gothic, verdana, arial, sans-serif !important;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
  }

#data_conten , #imgcargue { cursor: pointer; width:100%;height:100%;  }
.vault .dhx-files-grid{height: 100%; }

.vault .dhx-files-grid .dhx-file-grid-item .dhx-server-file-preview img {
    height: 188px!important;
}
.vault .dhx-files-grid .dhx-file-grid-item > .dhx-preview-wrapper{
    height: 190px!important;
    width: 143px!important;
}
.vault .dhx-files-grid .dhx-file-grid-item {
    height: 210px!important;width: 143px!important;
}
.vault .dhx-files-grid .dhx-file-grid-item:hover .dhx-preview-wrapper::after{
    height: 190px!important;width: 143px!important;
}

/*
#preview{
	margin-top: 10px;
	border:1px solid black;
	width:350px;
	height:500px;
	background-repeat: no-repeat;
	margin-left: auto;
	margin-right: auto;
}

.dhx-server-file-preview img:hover {
    cursor: zoom-in;
    border: 0;
   
}
*/
.title{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: transform .5s ease-out;
}
.photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: transform .5s ease-out;
  }

/*******************************************/

div.titleform {
    /*color: blue !important;*/
    font-weight:100;
    font-size: 35px;
   
    text-align: center;
    font-family: century gothic, verdana, arial, sans-serif !important;
}
 
.dhxform_obj_material div.dhxform_img.btn2state_0 {
   background: url("../../../assets/images/icons/iconsjhon/toggleon64.png") no-repeat center ;
    width: 42px;
    height: 20px;
     background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
};
.dhxform_obj_material div.dhxform_img.btn2state_1 {
  background: url("../../../assets/images/icons/iconsjhon/toggleoff64.png") no-repeat center;
    width: 42px;
    height: 20px;
     background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
};
.dhxform_obj_material div.disabled div.dhxform_img.btn2state_0 {
    background: url("../../../assets/images/icons/iconsjhon/toggleoff64_disable.png") no-repeat center;
    width: 42px;
     background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
    height: 20px;
}
.dhxform_obj_material div.disabled div.dhxform_img.btn2state_1 {
   background: url("../../../assets/images/icons/iconsjhon/toggleoff64_disable.png") no-repeat center; 
    width: 42px;
    height: 20px;
     background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
    
}

/***************BOTON BUSCAR **********/
/*div.dhxform_item_label_left.b_buscar div.dhxform_btn_txt {         
    background-image: url('dhtmlx/codebase/imgs/cody_docu_48.png');       
        background-repeat: no-repeat;             
    background-position: 1px 3px;      
    padding-left: 0px;                height : 50px;                margin: -1px -10px 1px 1px;     
    cursor: pointer;            font-size: 4em;
}*/

/***********  CSS DATAVIEW *******************************/
.corta { 
    padding : 0px;
    font-size: 1.2em;
    color: forestgreen;
}
.direcion {
    padding-top: 2px;
    font-size: 1.9em;
    margin: 0px;
    color: royalblue;
}
#dircorta{

    width: 89%;
    float: left;}
#principal {
    font-size: 1.4em;
    width: 11%;
    float: left;
    padding-top: 18px;
    color: limegreen;}
/* ************* CSS FUENTE ********** */
.fuente {
    font-family:century gothic, verdana, arial, sans-serif!important;
}


/******** aweson COLORS *******************/
.txtred {
    color: red;
}
.txtrdarkblue {
    color: #084B8A!important;
}
.txtrgreen {
    color: #31a354!important;
}
.txtroran {
    color : #04B486!important;
}
.txtrskyblue {
    color : #0080FF!important;
}
.txtrblue {
    color:#04c!important  ;
}
.txtrblack {
    color:black  ;
}
.disable {
    opacity: 0.2;
}
.padt-5-f1-8{
   padding-top: 1px;
font-size: 1.8em;
}
.boton_1{
    text-decoration: none;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: helvetica;
    font-weight: 300;
    font-size: 25px;
    font-style: italic;
    color: #006505;
    background-color: #82b085;
    border-radius: 15px;
    border: 3px double #006505;
  }
  .boton_1:hover{
    opacity: 0.6;
    text-decoration: none;
  }
  
/************ CSS IMG PERFIL - MODULO PERSONALIZACION */
#emp_img_{
    cursor:pointer;
    position: absolute;
    border-radius : 10%;
    width:185px;
    height : 110px;
    padding : 0px;
    margin: 13px;
}
#eventFormemp{
    cursor:pointer;
    width: 209px;
    height: 168px;
    border: 2px dashed black;
    /*padding : 4px;*/
}
.centrarpdiv{line-height: 20px;font-size: 1.7em;font-family:century gothic, verdana, arial, sans-serif!important; }
#fileemp{ 
    cursor:pointer;
    position: relative;
    padding: 0 0 0 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
}
#formp{
    text-align: center;
    position: relative;
    width: 203px;
    margin: -64px 0 0 1px;
    color: darkgray;
    font-size: 0.9em;
    padding-top: 26px;
}
.s_estado {
      font-size: 1.3em;
    font-weight: 700;
    font-family:century gothic, verdana, arial, sans-serif!important;
}

.nomcliente{
    font-size: 2.3em;
    font-weight: 700;
    font-family:century gothic, verdana, arial, sans-serif!important;
}
#fboton{
    margin: 0;
    cursor: pointer;
    color: #fff;
    background: #16a085;
    border: none;
    width: 214px;
    height: 35px;
    margin-top: 17px;
    margin-left: -3px;
    border-radius: 4px;
    border-bottom: 4px solid #117A60;
    transition: all .2s ease;
    outline: none;
    font-family:century gothic, verdana, arial, sans-serif!important;
}
.form-group{
     margin: 5px;
}
.btn-label {
    position: relative;
    left: -12px;
    display: inline-block;
    padding: 6px 12px;
    background: #1883ba;
    border-radius: 8px;}
    
.btn-labeled {border-radius: 8px;padding-top: 0;padding-bottom: 0;
    background: #58ACFA;}
.btn { margin-bottom:10px; 
    background: #58ACFA;}

.boton_personalizado{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #1883ba;
    }

.boton_personalizado:hover{
color: #1883ba;
background-color: #ffffff;
}

.subir{
    position: relative;
    left: 3px;
    display: inline-block;
    padding:2px 8px;
    background-color: #58ACFA;
    color:rgb(15, 15, 15);
    border-radius: 8px;
    font: 400 14px Arial;
}
 
.btn:hover{
    color:rgb(15, 15, 15);
    background-color: #A9A9F5;
}

.subir:hover{
    color:rgb(15, 15, 15);
    background-color: #A9A9F5;
}

.btn-label2 {
    position: relative;
    left: -7px;
    display: inline-block;
    padding: 6px 12px;
    background: #1883ba;
    border-radius: 8px;}
    
.contain {
    border: #58ACFA 2px solid;
    height: 25px;
    width: 500px;
    }
    
.btnver-label {
    position: relative;
    left: -12px;
    display: inline-block;
    padding: 6px 12px;
    background: #58ACFA;
    border-radius: 8px;}
    
.btnver-labeled {border-radius: 8px;padding-top: 0;padding-bottom: 0;
    background: #A9D0F5;}

.btnver { margin-bottom:10px;border-radius: 8px; 
    background: #A9D0F5;}

.btnver:hover{
    color:rgb(15, 15, 15);
    background-color: #A9D0F5;
}