<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Web Service Corporación Life</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/vendor/font-awesome-4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/assets/intranet/css/main.css">
        <style>
            body {padding-top:60px}
            .bg-purple {background-color:#7e57c2}
        </style>
    </head>
    <body>
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-main">
            <a class="navbar-brand pb-1" href="#">
                <img src="/assets/intranet/images/clife-banner-light.svg" alt="Corporacion Life" style="height:24px;">
            </a>
            <button id="sidebar-toggler" class="navbar-toggler" type="button" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Web service e-commerce</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- SEPARADOR DE BAJO PRESUPUESTO -->
        <div class="container">
            <div class="row">
                <div class="col bg-light border-secondary shadow p-4">
                    <a href="/ws-life/pedidos-realizados" class="btn btn-primary btn-block">Pedidos realizados</a>
                    <a href="/ws-life/stock-productos" class="btn btn-primary btn-block">Stock de productos</a>
                    <a href="/ws-life/lista-precios" class="btn btn-primary btn-block">Lista de precios</a>
                    <a href="/ws-life/carga-depositos" class="btn btn-primary btn-block">Cargar reporte de depósitos</a>
                </div>
            </div>
        </div>
    </body>
</html>