<html lang="es">
    <head>
        <title>Avance de ventas</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>
            #ventas-anio{ height:200px;width:100%; }
            #ch-modal{ height:480px;width:100%; }
            #ch-resumen{ height:200px;width:100%;}
            .chart-div{ height:180px;width:100%;padding:12px;border-radius:12px 0 12px 0; }
            .ch-modal{ height: 480px; }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Avance de ventas</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <!--li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li-->
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <a class="btn btn-outline-light my-2 my-sm-0" href="#">Salir</a>
                </form>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col-3 col-xl-2 bg-light">
                    <p class="mt-4 mx-2 mb-2 text-center">
                        <img class="mb-0" src="/assets/images/web/new-life.svg" style="width:96px;" />
                    </p>
                    <p class="text-center text-dark">Corporacion Life S.A.C.</p>
                    <div id="ventas-anio"></div>
                    <p class="mt-0 mb-3 text-center text-primary">Resumen de cumplimiento</p>
                    <p class="my-0 text-secondary text-center" style="font-size:0.75rem;">La meta es de</p>
                    <h2 class="mt-0 mb-3 text-success text-center font-weight-light">S/ 5,000,000.00</h2>
                    <div id="ch-resumen"></div>
                </div>
                <div id="dv-graficos" class="col-9 col-xl-10">
                    <p class="text-primary mt-2"></p>
                    <div id="row-tpnegocio" class="row"></div>
                    <p class="text-primary mt-2"></p>
                    <div id="row-fventa" class="row"></div>
                </div>
            </div>
        </div>
        <!-- -->
        <div id="modal-ch-volador" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-5">
                                <div id="ch-dias" class="ch-modal"></div>
                            </div>
                            <div class="col-7">
                                <div id="ch-vendedores" class="ch-modal"></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="/assets/highcharts/highcharts.js"></script>
        <script src="/assets/highcharts/highcharts-more.js"></script>
        <script src="/assets/highcharts/modules/solid-gauge.src.js"></script>
        <script src="/assets/ancestros/avance-ventas.js"></script>
        <script>
            IniciarComponentes();
        </script>
    </body>
</html>