<!DOCTYPE html>
<html>
<head>
	<title>CLife Coud</title>
	<!--<meta name="viewport" content="width=device-width, initial-scale=1"> -->
              <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="assets/vendor/font-awesome-4.7.0/css/font-awesome.min.css">
         
                                                    <link rel="stylesheet" href="assets/custom/1.0.0/css/style.min.css">
                                                      
	<link rel="stylesheet" type="text/css" href="assets/vendor/dhtmlx/skins/skyblue/dhtmlx.css">
	<style type="text/css">
		html,body{height:100%;margin:0;padding:0;width:100%}
		#dhxViewport,#dv-treeview{height:100%;width:100%;}
		#dv-header{background-color:#ebebeb;height:100%;padding-top:12px;width:100%;}
		#dv-header>img{display:block;margin:0 auto;width:50%;}
		#dv-header>.p-title{display:block;font-family:'Open Sans',Verdana;font-size:14px;margin:16px auto 2px;text-align:right;width:85%;}
		#dv-header>.p-link{display:block;font-family:'Open Sans',Verdana;font-size:12px;margin:0px auto;text-align:right;width:85%;}
		#dv-fondo{background-image:url('assets/images/home/bg.jpg');background-size:cover;height:100%;width:100%}
                .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
 
  color: white;
  text-align: center;
}
	</style>
</head>
<body>
    <div id="dhxViewport"> 
         <!--<div id="dv-treeview"></div> 
        <div id="dv-fondo">   </div> -->
         
        <div id="dv-treeview"></div> 
        <div id="dv-fondo">   
          <div class="main-wrapper">

                   
                    <div class="navbar navbar-light bg-white px-3 px-sm-5 py-3">
                        <div class="d-inline-block mr-3">
                            <a href="#" data-target="#sidebar-left" data-toggle="collapse-width" class="btn btn-dark btn-icon rounded-circle shadow-00">
                                <i class="fa fa-navicon"></i>
                            </a>
                        </div>

                        <form class="search-form form-inline my-2 my-lg-0">
                            <div class="input-group input-group-built-in">
                                <input type="text" class="form-control rounded-1" placeholder="Search for something..." aria-label="Search for something...">
                                <span class="input-group-btn">
                                    <a href="#" class="btn btn-icon">
                                        <i class="fa fa-search"></i>
                                    </a>
                                </span>
                            </div>
                        </form>

                        <ul class="nav ml-auto">

                            <li class="m-sm-1 m-md-2 position-relative">
                                <a data-toggle="dropdown" class="btn btn-light btn-icon rounded-circle shadow-00" href="#" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-bell" aria-hidden="true"></i>
                                    <span class="badge badge-hint badge-primary">8</span>
                                </a>

                                <div class="dropdown-menu dropdown-menu-right">

                                    <ul class="list-unstyled">
                                        <li class="dropdown-item media border-bottom-1 border-light p-4">
                                            <span class="btn btn-success btn-icon rounded-circle mr-3">
                                                <i class="fa fa-download" aria-hidden="true"></i>
                                            </span>
                                            <div class="media-body">
                                                <div class="d-flex w-100 justify-content-between">
                                                    <h6 class="mb-1 mr-4">Update Successfully</h6>
                                                    <small class="text-muted">3 days ago</small>
                                                </div>
                                                Lorem ipsum dolor sit amet ...
                                                <small class="text-muted d-block">11.06.2014 - 2:30am - 2:46am</small>
                                            </div>
                                        </li>
                                        <li class="dropdown-item media border-bottom-1 border-light p-4">
                                            <span class="btn btn-danger btn-icon rounded-circle mr-3">
                                                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                                            </span>
                                            <div class="media-body">
                                                <div class="d-flex w-100 justify-content-between">
                                                    <h6 class="mb-1 mr-4">Connection was interrupted!</h6>
                                                    <small class="text-muted">3 days ago</small>
                                                </div>
                                                Lorem ipsum dolor sit amet ...
                                                <small class="text-muted d-block">11.06.2014 - 2:30am - 2:46am</small>
                                            </div>
                                        </li>
                                    </ul>

                                    <div class="media d-flex pl-4 pr-4 pt-3 pb-3">
                                        <a href="#!">See all Alerts</a>
                                    </div>

                                </div>
                            </li>

                            <li class="m-sm-1 m-md-2 position-relative">
                                <a data-toggle="dropdown" class="btn btn-light btn-icon rounded-circle shadow-00" href="#" aria-expanded="false">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                    <span class="badge badge-hint badge-success">16</span>
                                </a>

                                <div class="dropdown-menu dropdown-menu-right">

                                    <ul class="list-unstyled">
                                        <li class="dropdown-item media border-bottom-1 border-light p-4">
                                            <img src="assets/custom/1.0.0/images/02.jpg" height="44px" class="rounded-circle d-flex mr-3" alt="Martin Schultze">
                                            <div class="media-body">
                                                <div class="d-flex w-100 justify-content-between">
                                                    <h6 class="mb-1 mr-4">Please make it</h6>
                                                    <small class="text-secondary">3 days ago</small>
                                                </div>
                                                Lorem ipsum dolor sit amet ...
                                                <small class="text-muted d-block">John Mitchell at 2:30 am 11.06.2014</small>
                                            </div>
                                        </li>
                                        <li class="dropdown-item media border-bottom-1 border-light p-4">
                                            <img src="assets/custom/1.0.0/images/03.jpg" height="44px" class="rounded-circle d-flex mr-3" alt="Martin Schultze">
                                            <div class="media-body">
                                                <div class="d-flex w-100 justify-content-between">
                                                    <h6 class="mb-1 mr-4">Good job!</h6>
                                                    <small class="text-success">1 days ago</small>
                                                </div>
                                                Lorem ipsum dolor sit amet ...
                                                <small class="text-muted d-block">Michael Holmes at 2:30 am 11.06.2014</small>
                                            </div>
                                        </li>
                                        <li class="dropdown-item media border-bottom-1 border-light p-4">
                                            <img src="assets/custom/1.0.0/images/04.jpg" height="44px" class="rounded-circle d-flex mr-3" alt="Martin Schultze">
                                            <div class="media-body">
                                                <div class="d-flex w-100 justify-content-between">
                                                    <h6 class="mb-1 mr-4">Design issue</h6>
                                                    <small class="text-warning">23 hrs ago</small>
                                                </div>
                                                Lorem ipsum dolor sit amet ...
                                                <small class="text-muted d-block">Henry Jane at 2:30 am 11.06.2014</small>
                                            </div>
                                        </li>
                                    </ul>

                                    <div class="media d-flex pl-4 pr-4 pt-3 pb-3">
                                        <a href="#!">Read all Messages</a>
                                    </div>

                                </div>

                            </li>

                            <li class="m-sm-1 m-md-2">
                                <a data-toggle="slide-right" data-target="#sidebar-right" class="btn btn-light btn-icon rounded-circle shadow-00" href="#">
                                    <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                </a>
                            </li>

                            <li class="m-sm-1 m-md-2 position-relative">
                                <a data-toggle="dropdown" href="#" aria-expanded="false">
                                    <div class="d-inline-block mr-2">
                                        <img src="assets/custom/1.0.0/images/03.jpg" class="rounded-circle" height="32px">
                                    </div>
                                    <div class="d-none d-lg-inline-block">
                                        <span class="d-block">John Brown</span>
                                    </div>
                                </a>

                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#">
                                        <i class="fa fa-user-circle-o" aria-hidden="true"></i> Profile
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <i class="fa fa-address-card-o" aria-hidden="true"></i> Contacts
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <i class="fa fa-envelope-o" aria-hidden="true"></i> Mailbox
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="login.html">
                                        <i class="fa fa-sign-out" aria-hidden="true"></i> Logout
                                    </a>
                                </div>

                            </li>

                        </ul>

                    </div>
                   

                   
                    <main>

                    

                        <div  class="content-wrapper h-100 container-fluid px-5 mt-5 mb-4 trans-03-in-out">



                        </div>


                    </main>
                   

                    
                    <footer class="bg-white w-100 pl-5 pr-5 pt-4 pb-4 mt-auto">
                        <div>Corporacion Life © 2019 - Perú</div>
                    </footer>
                 

            </div>
                   
        </div>
          
    </div>
	<!-- -->
                                                       
                                                      
	<script type="text/javascript" src="assets/vendor/jquery/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="assets/js/conf.js"></script>
	<script type="text/javascript" src="assets/vendor/dhtmlx/codebase/dhtmlx.js"></script>
	<script type="text/javascript">
		var dhxWins, mainLayout, secLayout, mainTree, mainWindow;
		var winLayout, winGrid;
		function logout() {
			dhtmlx.confirm({
				ok: "Si, cerrar mi sesión",
				cancel: "No",
				text: "¿Desea cerrar la sesión? Deberá ingresar sus credenciales la próxima vez que desee acceder al sistema.",
				callback: (result) => {
					if(result) {
						localStorage.clear();
						location.href = "/";
					}
				}
			});
		}
		function mainTreeOnDblClick(id) {
			if(!mainTree.hasChildren(id)) {
				mainLayout.cells("a").collapse();
				var winId = "win-" + id;
				if(!dhxWins.isWindow(winId)) {
					dhxWins.createWindow(winId, 0, 0, 1080, 640);
					dhxWins.window(winId).setText(mainTree.getItemText(id));
					dhxWins.window(winId).center();
					dhxWins.window(winId).attachURL("modulo/" + id);
				}
			}
			return true;
		}
		//valida la sesion
		if(usrtoken == '') {
			location.href = '/';
		}
		else {
			//
			mainLayout = new dhtmlXLayoutObject("dhxViewport", "2U");
				mainLayout.cells("a").setWidth(240);
				mainLayout.cells("a").setText("Seleccione una opción");
				mainLayout.cells("a").fixSize(true, true);
                                                      mainLayout.cells("a").appendObject("dv-treeview"); 
			//mainLayout.cells("a").attachHTMLString("<div id=\"dv-treeview\"></div>");
				mainLayout.cells("b").hideHeader();
                                mainLayout.cells("b").setWidth(1121);
				//mainLayout.cells("b").attachHTMLString("<div id=\"dv-fondo\"></div>");
                                                      mainLayout.cells("b").appendObject("dv-fondo");
			secLayout = new dhtmlXLayoutObject("dv-treeview", "2E");
				secLayout.cells("a").hideHeader();
				secLayout.cells("a").setHeight(160);
				secLayout.cells("a").attachHTMLString('<div id="dv-header"><img src="assets/images/icons/cloud-life-logo.svg"><p class="p-title">Bienvenido, <b>' + usrJson.alias + '</b></p><p class="p-link"><a href="javascript:logout()">Salir del sistema</a></p></div>');
				secLayout.cells("a").fixSize(true, true);
				secLayout.cells("b").hideHeader();
			mainTree = secLayout.cells("b").attachTree();
				mainTree.setXMLAutoLoading(BASE_URL + "home/menu/MAIN/Administrator/11");
				mainTree.setImagePath("assets/vendor/dhtmlx/skins/web/imgs/dhxtree_web/");
				mainTree.setXMLAutoLoading(BASE_URL + 'home/menu/' + usrJson.alias + '/' + usrJson.empresa);
				mainTree.load(BASE_URL + 'home/menu/' + usrJson.alias + '/' + usrJson.empresa + '?id=MAIN');
				mainTree.attachEvent('onDblClick', mainTreeOnDblClick);
			dhxWins = new dhtmlXWindows();
				dhxWins.attachViewportTo("dv-fondo");
			$("#dv-header").parent().css("border-color","#ebebeb");
		}
	</script>
        
        
</body>
</html>
