<!DOCTYPE html>
<html>
    <head>
        <title>CLife Cloud</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="/assets/vendor/font-awesome-4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/assets/vendor/dhtmlx/skins/skyblue/dhtmlx.css">
        <link rel="stylesheet" type="text/css" href="/assets/vendor/dhtmlx/skins/custom/dhtmlx.css"> 
        <link rel="stylesheet" type="text/css" href="/assets/vendor/dhtmlx/sources/dhtmlxCalendar/codebase/skins/dhtmlxcalendar_material.css">  
        <link rel="stylesheet" type="text/css" href="/assets/vendor/dhtmlx/sources/dhtmlxForm/codebase/skins/dhtmlxform_material.css">    
        <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
        <style type="text/css">
            html,body{  display: flex;height:100%;margin:0;padding:0;width:100%;  overflow: hidden;font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;}
            #img_fondo_{background-size:cover;height:100%;width:100%;position: absolute; }
        </style>
    </head>
    <body onresize="PosicionarWinChat()">
        <!-- <div id="dhxViewport"></div> -->
        <script type="text/javascript" src="/assets/vendor/jquery/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="/assets/js/conf.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <script type="text/javascript" src="/assets/vendor/dhtmlx/codebase/dhtmlx.js"></script>
        <script type="text/javascript" src="/assets/vendor/dhtmlx/sources/dhtmlxToolbar/codebase/dhtmlxtoolbar.js"></script>
        <script type="text/javascript" src="/assets/js/sweetalert.js"></script>
       <!--  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script> -->
      <!--  <script src="/socket.io/socket.io.js"></script> -->
        <script type="text/javascript" src="/assets/js/home.js"></script>
        <script>
            var dhxWinmain, mainLayout, secLayout, winId, formini, mainTree, mainWindow, myToolbar, myPop, myPop2, myList,
                rpta_search, mySidebar, folder_perfil, folder_fondo, form_infperso,  myWinsPerfil, winLayout, winGrid;
            /*const socket = io('http://192.168.11.138:3001', {
                query: {
                    codigo: usrJson.codigo,
                    empresa: usrJson.empresa
                }
            });
            socket.on('message', function (data) {
                dhtmlx.message({
                    text: '<span style="font-weight:bold;">Nuevo mensaje de ' + (data.from.name ? data.from.name : data.from.id) + '</span><br>[' + (new Date()).toISOString().split('T')[0] + '] <span style="font-style:italic;">' + data.message + '</span>',
                    expire: 10000
                })
                console.log(data);
            });*/
            var sidebarjson = [
                {id: "side_infperso", text: "Datos Personales", icon: "profile64.png", selected: true},
                {id: "side_segu", text: "Seguridad", icon: "unlock_64.png"},
                {id: "side_person", text: "Personalización", icon: "32/desktop.png"}
            ];
            var form_logo = [
                {type: "settings"},
                {type: "block", blockOffset: 0, width: 100, list: [
                        {type: "template", name: "user_photo", format: photo_usu}]},
                {type: "newcolumn"},
                {type: "block", blockOffset: 0, offsetTop: 20, width: 100, list: [
                        {type: "template", value: 'Bienvenido : ', name: "name_label", offsetLeft: 15, format: name_usu},
                        {type: "template", offsetLeft: 15, name: "user_name", width: 105, value: "-", format: name_usu}]},
                {type: "newcolumn"},
                {type: "block", blockOffset: 0, width: 200, list: [
                        {type: "template", value: '-', offsetLeft: 15, name: "name_ccostos", format: name_usu}]}
            ];
            var form_pesonaliza = [{type: "settings", labelWidth: 160},
                {type: "block", blockOffset: 0, width: 453, list: [{type: "template", offsetLeft: 15, name: "title_usu", format: name_usu}]},
                {type: "newcolumn"},
                {type: "block", blockOffset: 25, width: 100, list: [{type: "button", offsetTop: 2, offsetLeft: 1, name: "fsalirw", className: "fsalirw", value: '<i class="fas fa-window-close"></i>'}]},
                {type: "newcolumn"},
                {type: "block", blockOffset: 30, width: 220, list: [
                        {type: "fieldset", name: "field_logo", height: 180, width: 190, offsetTop: 55, offsetLeft: 5, label: '<font class="input_font">Foto de Perfil</font>', list: [
                                {type: "settings", position: "label-top"},
                                {type: "template", name: "up_imgperfil", inputWidth: 115, inputHeight: 145, format: photo_usu},
                                {type: "template", name: "", className: "", style: "", inputHeight: 65}
                            ]}
                    ]},
                {type: "newcolumn"},
                {type: "block", blockOffset: 30, width: 255, list: [
                        {type: "fieldset", name: "field_fondo", offsetTop: 55, height: 180, width: 254, label: '<font class="input_font">Imagen de Fondo</font>', list: [
                                {type: "settings", position: "label-top"},
                                {type: "template", name: "up_imgfondo", inputWidth: 254, inputHeight: 145, format: photo_usu},
                                {type: "template", name: "", className: "", style: "", inputHeight: 65}
                            ]}
                    ]}
            ];
            var form_segu = [{type: "settings", labelWidth: 160},
                {type: "block", blockOffset: 0, width: 453, list: [{type: "template", offsetLeft: 15, name: "title_usu", format: name_usu}]},
                {type: "newcolumn"},
                {type: "block", blockOffset: 25, width: 100, list: [{type: "button", offsetTop: 2, offsetLeft: 1, name: "fsalirw", className: "fsalirw", value: '<i class="fas fa-window-close"></i>'}]},
                {type: "newcolumn"},
                {type: "block", blockOffset: 0, list: [
                        {type: "block", blockOffset: 25, offsetTop: 45, width: 250, list: [
                                {type: "input", disabled: true, name: 'u_alias', inputWidth: 150, label: '<font class="input_font">Alias</font>', required: false},
                                {type: "password", name: 'u_passwd', disabled: true, offsetTop: 15, inputWidth: 150, label: '<font class="input_font">Contraseña</font>', required: false}
                            ]},
                        {type: "newcolumn"},
                        {type: "block", blockOffset: 0, offsetTop: 45, offsetLeft: 25, width: 250, list: [
                                {type: "input", name: 'u_mail_recu', disabled: true, label: '<font class="input_font">Email de Recuperación</font>', inputWidth: 250},
                                {type: "password", name: 'u_repit_pwd', disabled: true, inputWidth: 200, label: '<font class="input_font">Repita Contraseña</font>', required: false}
                            ]}
                    ]},
                {type: "newcolumn"},
                {type: "block", blockOffset: 5, width: 470, list: [
                        {type: "button", offsetTop: 45, offsetLeft: 55, className: 'b_edits', name: "b_edits", value: '<i class="far fa-edit txtrgreen"></i> Editar'}, {type: "newcolumn"},
                        {type: "button", offsetTop: 45, offsetLeft: 45, name: "b_saves", value: '<i class="far fa-save txtrblue"></i> Guardar'}
                    ]}
            ];
            var form_cuenta = [{type: "settings", labelWidth: 140},
                {type: "block", blockOffset: 0, width: 442, list: [{type: "template", offsetLeft: 15, name: "title_usu", format: name_usu}]},
                {type: "newcolumn"},
                {type: "block", blockOffset: 25, width: 100, list: [{type: "button", offsetTop: 2, offsetLeft: 1, name: "fsalirw", className: "fsalirw", value: '<i class="fas fa-window-close"></i>'}]},
                {type: "newcolumn"},
                {type: "block", blockOffset: 0, list: [
                        {type: "block", blockOffset: 25, offsetTop: 2, width: 250, list: [
                                {type: "select", name: 'u_tipo_doc', disabled: true, offsetLeft: 0, inputWidth: 150, label: '<font class="input_font">Tipo Documento</font>', connector: BASE_URL + 'home/list_tipodoc/'}, {type: "newcolumn"},
                                {type: "input", offsetTop: 20, name: 'u_documento', disabled: true, offsetLeft: 0, labelWidth: 170, label: '<font class="input_font">Documento Identidad</font>'}, {type: "newcolumn"},
                                {type: "input", disabled: true, style: "font-family:century gothic, verdana, arial, sans-serif!important;", name: 'u_nombres', inputWidth: 200, label: '<font class="input_font">Nombres</font>', required: true},
                                {type: "input", name: 'u_apepat', disabled: true, offsetTop: 15, inputWidth: 200, label: '<font class="input_font">Ape. Paterno</font>', required: true},
                                {type: "input", name: 'u_apemat', disabled: true, offsetTop: 15, inputWidth: 200, label: '<font class="input_font">Ape. Materno</font>', required: true}
                            ]},
                        {type: "newcolumn"},
                        {type: "block", blockOffset: 0, offsetTop: 2, offsetLeft: 25, width: 250, list: [
                                {type: "calendar", enableTime: false, disabled: true, enableTodayButton: false, inputWidth: 210, dateFormat: "%d/%m/%Y", labelWidth: 142, name: 'u_fecnac', label: '<i class="fas fa-birthday-cake"></i><font class="input_font"> Fecha Nacimiento</font>'},
                                {type: "input", offsetTop: 15, name: 'u_tef_c', disabled: true, labelWidth: 112, label: '<i class="fas fa-mobile-alt"></i><font class="input_font"> Corporativo</font>', inputWidth: 100}, {type: "newcolumn"},
                                {type: "input", offsetTop: 15, name: 'u_tef_p', disabled: true, labelWidth: 112, label: '<i class="fas fa-mobile-alt"></i><font class="input_font"> Personal</font>', inputWidth: 100}, {type: "newcolumn"},
                                {type: "radio", offsetTop: 20, name: 'u_sexo', disabled: true, labelWidth: 63, value: 'M', label: '<font class="input_font">Sexo (M)</font>'}, {type: "newcolumn"},
                                {type: "radio", offsetTop: 20, name: 'u_sexo', disabled: true, offsetLeft: 25, labelWidth: 20, value: 'F', label: '<font class="input_font">(F)</font>'}, {type: "newcolumn"},
                                {type: "input", offsetTop: 15, name: 'u_mail', disabled: true, label: '<font class="input_font">Em@il Corporativo</font>', inputWidth: 250}, {type: "newcolumn"},
                                {type: "input", offsetTop: 15, name: 'u_mail_p', disabled: true, label: '<font class="input_font">Em@il Personal</font>', inputWidth: 250}
                            ]}
                    ]},
                {type: "newcolumn"},
                {type: "block", blockOffset: 5, width: 470, list: [
                        {type: "button", offsetTop: 25, offsetLeft: 95, className: 'b_editc', name: "b_editc", value: "<i class='far fa-edit txtrgreen'></i> Editar"}, {type: "newcolumn"},
                        {type: "button", offsetTop: 25, offsetLeft: 155, name: "b_savec", className: "b_savec", value: '<i class="far fa-save txtrblue"></i> Guardar', disabled: true}
                    ]}
            ];
            if (usrtoken === '') {
                location.href = '/';
            } else {
                if (usrJson.copersona === 0) {
                    carga_nuevo_usuario();
                } else {
                    dhtmlXCalendarObject.prototype.lang = "pe";
                    mainLayout = new dhtmlXLayoutObject({parent: document.body, pattern: "3T", offsets: {top: 0, right: 0, bottom: 0, left: 0}});
                    mainLayout.cells("a").hideHeader();
                    mainLayout.cells("b").setCollapsedText("<span style='color:black; font-size : 1.5em;'>Menu Principal</span>");
                    mainLayout.cells("b").hideArrow();
                    mainLayout.setSeparatorSize(0, 0);
                    mainLayout.setSeparatorSize(1, 0);
                    mainLayout.setSeparatorSize(2, 0);
                    myToolbar = mainLayout.cells("a").attachToolbar({iconset: "awesome"});
                    myToolbar.setIconSize(32);
                    myToolbar.addText('add_pasos', null, '<div class="milky"></div>');
                    myToolbar.addButton('b_hidemenu', null, '', null, null);
                    myToolbar.addInputsearch('search-bar1', null, null, null);
                    myToolbar.addSeparator(null, null);
                    myToolbar.addButton('b_user_admi', null, '', 'user64.png', null);
                    myToolbar.addButton('b_mail', null, '', 'user64.png', null);
                    myToolbar.setItemImage('b_hidemenu', "fas fa-bars");
                    myToolbar.setItemImage('b_user_admi', "fas fa-user-cog");
                    myToolbar.setItemImage('b_mail', "fas fa-envelope");
                    myToolbar.setWidth('b_user_admi', 200);
                    myToolbar.addSpacer("b_hidemenu");
                    myToolbar.setItemToolTip('b_hidemenu', 'Oculta o Muestra el Menú Principal');
                    myToolbar.attachEvent("onClick", toolbar_onclic);
                    myToolbar.attachEvent("onkeyup", inpu_onKeyup);
                    myToolbar.setSkin('dhx_custom');
                    myPop = new dhtmlXPopup({toolbar: myToolbar, id: "b_user_admi"});
                    carga_estructura_pop(myPop);
                    myPop.attachEvent("onClick", pop_inclic);
                    myPop2 = new dhtmlXPopup({toolbar: myToolbar, id: "search-bar1"});
                    myPop2.attachEvent("onClick", pop_inclic2);
                    mainLayout.cells("b").hideHeader();
                    mainLayout.cells("a").setHeight(45);
                    mainLayout.cells("b").setWidth(240);
                    mainLayout.cells("b").fixSize(true, true);
                   // mainLayout.cells("b").attachHTMLString("<div id=\"dv-treeview\"></div>");
                    mainLayout.cells("c").hideHeader();
                    mainLayout.cells("c").attachHTMLString('<div id="img_fondo_" style=" background-size: cover;"><div class="loader-container">  <div class="progress float shadow">    <div class="progress__item"></div>  </div></div></div>');//mainLayout.cells("c").attachHTMLString("<div id=\"dv-fondo\"></div>');
                    secLayout = new dhtmlXLayoutObject( mainLayout.cells("b"), "2E");// secLayout = new dhtmlXLayoutObject("dv-treeview", "2E");
                    secLayout.setSeparatorSize(0, 0);
                    secLayout.setSeparatorSize(1, 0);
                    secLayout.cells("a").hideHeader();
                    secLayout.cells("b").hideHeader();
                    secLayout.cells("a").setHeight(150);
                    var autoSizes = secLayout.listAutoSizes("b");
                    var Formlogo = secLayout.cells("a").attachForm();
                    Formlogo.load(form_logo, doOnload);
                   // secLayout.cells("a").fixSize(true, true);
                    mainTree = secLayout.cells("b").attachTree();
                    mainTree.setImagePath("/assets/vendor/dhtmlx/skins/web/imgs/dhxtree_web/");
                    mainTree.setXMLAutoLoading(BASE_URL + 'home/menu/' + usrJson.alias + '/' + usrJson.empresa);
                    mainTree.enableTreeLines(true);
                    mainTree.load(BASE_URL + 'home/menu/' + usrJson.alias + '/' + usrJson.empresa + '?id=MAIN');
                    mainTree.attachEvent('onDblClick', mainTreeOnDblClick);
                    dhxWinmain = new dhtmlXWindows();
                    //AbrirChat();
                }
            }
        </script>


    </body>
</html>