<!doctype html>
<html>
    <head>
        <title>Visor de documentos</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="/assets/vendor/dhtmlx/skins/skyblue/dhtmlx.css">
        <style>
            html,body{height:100%;margin:0;padding:0;width:100%}
            .text-danger{ color:#e53935; }
            .text-primary{ color:#1565c0; }
            .text-success{ color:#4caf50; }
        </style>
    </head>
    <body></body>
    <script type="text/javascript" src="/assets/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/assets/js/conf.js"></script>
    <script type="text/javascript" src="/assets/vendor/dhtmlx/codebase/dhtmlx.js"></script>
    <script type="text/javascript" src="/assets/ancestros/viewer.js"></script>
    <script>
        var Layout, Tree, Form, Toolbar;
        const empresa = parseInt('<%=empresa%>');
        IniciarComponentes();
    </script>
    <body></body>
</html>