/*******************************************/


 
.dhxform_obj_material div.dhxform_img.btn2state_0 {
   background: url("../../../assets/images/icons/iconsjhon/toggleon64.png") no-repeat center ;
    width: 42px;
    height: 20px;
     background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
};
.dhxform_obj_material div.dhxform_img.btn2state_1 {
  background: url("../../../assets/images/icons/iconsjhon/toggleoff64.png") no-repeat center;
    width: 42px;
    height: 20px;
     background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
};
.dhxform_obj_material div.disabled div.dhxform_img.btn2state_0 {
    background: url("../../../assets/images/icons/iconsjhon/toggleoff64_disable.png") no-repeat center;
    width: 42px;
     background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
    height: 20px;
}
.dhxform_obj_material div.disabled div.dhxform_img.btn2state_1 {
   background: url("../../../assets/images/icons/iconsjhon/toggleoff64_disable.png") no-repeat center; 
    width: 42px;
    height: 20px;
     background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
    
}

/***************BOTON BUSCAR **********/
/*div.dhxform_item_label_left.b_buscar div.dhxform_btn_txt {         
    background-image: url('dhtmlx/codebase/imgs/cody_docu_48.png');       
        background-repeat: no-repeat;             
    background-position: 1px 3px;      
    padding-left: 0px;                height : 50px;                margin: -1px -10px 1px 1px;     
    cursor: pointer;            font-size: 4em;
}*/

/***********  CSS DATAVIEW *******************************/
.corta { 
    padding : 0px;
    font-size: 1.2em;
    color: forestgreen;
}
.direcion {
    padding-top: 2px;
    font-size: 1.9em;
    margin: 0px;
    color: royalblue;
}
#dircorta{

    width: 89%;
    float: left;}
#principal {
    font-size: 1.4em;
    width: 11%;
    float: left;
    padding-top: 18px;
    color: limegreen;}
/* ************* CSS FUENTE ********** */
.fuente {
    font-family:century gothic, verdana, arial, sans-serif!important;
}


/******** aweson COLORS *******************/
.txtred {
    color: red!important;
}
.txtrgreen {
    color: #31a354!important;
}
.txtoran {
    color : #1faeff;
}

.txtrblue {
    color:#04c!important  ;
}
.disable {
    opacity: 0.2;
}
.padt-5-f1-8{
   padding-top: 1px;
font-size: 1.8em;
}

/************ CSS IMG PERFIL - MODULO PERSONALIZACION */
#emp_img_{
    cursor:pointer;
    position: absolute;
    border-radius : 10%;
    width:185px;
    height : 110px;
    padding : 0px;
    margin: 13px;
}
#eventFormemp{
    cursor:pointer;
    width: 209px;
    height: 168px;
    border: 2px dashed black;
    /*padding : 4px;*/
}
.centrarpdiv{line-height: 20px;font-size: 1.7em;font-family:century gothic, verdana, arial, sans-serif!important; }
#fileemp{ 
    cursor:pointer;
    position: relative;
    padding: 0 0 0 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
}
#formp{
    text-align: center;
    position: relative;
    width: 203px;
    margin: -64px 0 0 1px;
    color: darkgray;
    font-size: 0.9em;
    padding-top: 26px;
}
.s_estado {
      font-size: 1.3em;
    font-weigh: 700;
    font-family:century gothic, verdana, arial, sans-serif!important;
}

.nomcliente{
    font-size: 2.3em;
    font-weigh: 700;
    font-family:century gothic, verdana, arial, sans-serif!important;
}
#fboton{
    margin: 0;
    cursor: pointer;
    color: #fff;
    background: #16a085;
    border: none;
    width: 214px;
    height: 35px;
    margin-top: 17px;
    margin-left: -3px;
    border-radius: 4px;
    border-bottom: 4px solid #117A60;
    transition: all .2s ease;
    outline: none;
    font-family:century gothic, verdana, arial, sans-serif!important;
}