<!DOCTYPE html>
<html>
    <head>
        <title>Registro de arte</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
        <!--   <link rel="stylesheet" type="text/css" href="/assets/vendor/font-awesome-4.7.0/css/font-awesome.min.css"> -->
        <link rel="stylesheet" type="text/css" href="/assets/vendor/dhtmlx/skins/skyblue/dhtmlx.css">
        <!--   <link rel="stylesheet" type="text/css" href="/assets/vendor/dhtmlx/sources/dhtmlxform/codebase/skins/dhtmlxform_material.css">   -->
        <link rel="stylesheet" type="text/css" href="<%=path%>style.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
            integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <!--link rel="stylesheet" href="/assets/vendor/dhtmlx/codebase/vault/codebase/vault.css" -->
        <link rel="stylesheet" type="text/css" href="codebase/dhtmlxtabbar.css">
        <style type="text/css">
            html,
            body {
                height: 100%;
                margin: 0;
                padding: 0;
                width: 100%
            }

            #dhxDesktop {
                height: 100%;
                width: 100%;
            }
        </style>
    </head>
    <body>
        <div id="dhxDesktop"></div>
        <script type="text/javascript" src="/assets/vendor/jquery/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="/assets/js/conf.js"></script>
        <script type="text/javascript" src="/assets/vendor/dhtmlx/codebase/dhtmlx.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
        <script type="text/javascript" src="<%=path%>script.js"></script>
        <!-- ancestro de la ventana de seguridad -->
        <script type="text/javascript" src="/assets/ancestros/grid-busqueda.js"></script>
        <script type="text/javascript" src="/assets/ancestros/seguridad.js"></script>
        <!-- scripts de la carga de la vista -->
        <script type="text/javascript" src="/assets/js/sweetalert.js"></script>
        <script type="text/javascript" src="/assets/js/sweetalert.js"></script>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/highcharts-more.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/modules/export-data.js"></script>
        <script src="https://code.highcharts.com/modules/accessibility.js"></script>
        <script>
              
            var f_registracambio = [ { type: "newcolumn" },
            {type: "block",blockOffset: 10,  offsetTop: 10, position: "label-left", width: 900, list: [
                { type: "newcolumn" },
                { type: "input",offsetLeft: 10,labelWidth: 100, inputWidth: 200, name: "_ra_marca", label: 'Marca:'}, { type: "newcolumn" },
                { type: "input",offsetLeft: 200,labelWidth: 100, inputWidth: 200, name: "_ra_arte", label: 'Cod. Arte:'}, { type: "newcolumn" },
            ],},
            {type: "block",blockOffset: 10,  offsetTop: 10, position: "label-left", width: 900, list: [
                { type: "newcolumn" },
                { type: "input",offsetLeft: 10,labelWidth: 100, inputWidth: 200, name: "_ra_submarca", label: 'Sub Marca'}, { type: "newcolumn" },
                { type: "newcolumn" },
                { type: "input",offsetLeft: 200,labelWidth: 100, inputWidth: 200, name: "_ra_ean13", label: 'EAN 13'}, { type: "newcolumn" },                
            ],},
            {type: "block",blockOffset: 10,  offsetTop: 10, position: "label-left", width: 900, list: [
                { type: "newcolumn" },
                { type: "input",offsetLeft: 10,labelWidth: 100, inputWidth: 200, name: "_ra_cod_prodh", label: 'Cod. Producto:'}, { type: "newcolumn" },
                { type: "newcolumn" },
                { type: "input",offsetLeft: 200,labelWidth: 100, inputWidth: 200, name: "_ra_ean14", label: 'EAN 14'}, { type: "newcolumn" },
            ],},
            {type: "block",blockOffset: 10,  offsetTop: 10, position: "label-left", width: 900, list: [
                { type: "newcolumn" },
                { type: "input",offsetLeft: 10,labelWidth: 100, inputWidth: 350, name: "_ra_descproh", label: 'Descripción'}, { type: "newcolumn" },
                { type: "newcolumn" },
                { type: "calendar",offsetLeft: 50,labelWidth: 100, inputWidth: 200, name: "_ra_fe_ini", label: 'Fecha Incio:'}, { type: "newcolumn" },
            ],},
            {type: "block",blockOffset: 10,  offsetTop: 10, position: "label-left", width: 900, list: [
                { type: "newcolumn" },
                { type: "input",offsetLeft: 10,labelWidth: 100, inputWidth: 350,rows:4, name: "_ra_motivo", label: 'Motivo:'}, { type: "newcolumn" },
                { type: "newcolumn" },
                { type: "calendar",offsetLeft: 50,labelWidth: 100, inputWidth: 200, name: "_ra_fe_fin", label: 'Fecha Fin:'}, { type: "newcolumn" },
                { type: "newcolumn" },
                { type: "input",offsetLeft: 50,labelWidth: 100, inputWidth: 200, name: "_ra_usu_reg", label: 'usuario Reg.:'}, { type: "newcolumn" },
            ],},
            ];  

            var f_nuevo_proyect = [
                { type: "newcolumn" },
                {type: "block", blockOffset: 0,offsetLeft: 470, position: "label-left", width: 200, list: [                       
                    {type: "input",readonly: false, style:"background-color:rgb(174, 214, 241);width: 200;height:120px,font-family: Arial; font-size: 11pt;text-align:center;",position:"input-right", offsetTop: 20, offsetLeft: 1,labelWidth: 140, inputWidth: 140, name: "pry_nro"}, { type: "newcolumn" },         
                { type: "newcolumn" },] },            
                {type: "block", blockOffset: 0, position: "label-left", width: 700, list: [                 
                    { type: "input",disabled: false, offsetLeft: 40,labelWidth: 70, inputWidth: 500, name: "pry_nombre", offsetTop: 20, label: 'Nombre:'}, { type: "newcolumn" },        
                    ],},
                { type: "newcolumn" },
                {type: "block", blockOffset: 0, position: "label-left", width: 700, list: [
                    { type: "input", name: 'pry_desc', labelWidth: 70, readonly: false, rows:4 ,label: 'Descripción:', offsetLeft: 40, inputWidth: 500 }, { type: "newcolumn" },                                  
                    ],},
                { type: "newcolumn" },
                {type: "block", blockOffset: 0, position: "label-left", width: 700, list: [                       
                    { type: "input", name: 'pry_obj', labelWidth: 70, readonly: false, rows:4 , label: 'Objetivos:', offsetLeft: 40, inputWidth: 500 }, { type: "newcolumn" },                                 
                    ],},
                { type: "newcolumn" },
                {type: "block", blockOffset: 0, position: "label-left", width: 700, list: [
                    { type: "input",readonly: true, offsetLeft: 40,labelWidth: 70, inputWidth: 100, name: "pry_cod_usuario", label: 'Responsable: '}, { type: "newcolumn" },
                    { type: "input",readonly: true, offsetLeft: 0,labelWidth: 70, inputWidth: 335, name: "pry_usuario"}, { type: "newcolumn" },
                            { type: "button", name: 'pry_buscar_usuario', disabled: true, offsetLeft: 5, offsetTop: 0, value: '<i class="fas fa-search"></i>' }, { type: "newcolumn" },  
                    ],},
                { type: "newcolumn" },
                {type: "block", blockOffset: 40, position: "label-left", width: 700, list: [
                    { type: "calendar", readonly: false, offsetLeft: 0,labelWidth: 70, inputWidth: 100, name: "pry_inicio", label: 'Fecha Inicio: '}, { type: "newcolumn" },   
                    { type: "calendar", readonly: false, offsetLeft: 50,labelWidth: 70, inputWidth: 100, name: "pry_fin", label: 'Fecha Fin: '}, { type: "newcolumn" },   
                    ],},
                { type: "newcolumn" },
                    {type: "fieldset", label: "Producto",offsetLeft: 40,  offsetTop: 10, inputWidth: 120, list:[
                        {type: "block", blockOffset: 0, position: "label-left", width: 530, list: [                           
                            { type: "checkbox",checked: false,disabled: false, offsetLeft: 0,labelWidth: 60, inputWidth: 100, name: "pry_existe", label: 'Existe?'}, { type: "newcolumn" },
                            { type: "button", name: 'pry_buscar_prod', disabled: false, offsetLeft: 0, offsetTop: 0, value: '<i class="fas fa-search"></i>' }, { type: "newcolumn" },  
                        ]},
                        {type: "block", blockOffset: 0, position: "label-left", width: 530, list: [                           
                            { type: "input",readonly: true, offsetLeft: 0,labelWidth: 70, inputWidth: 130, name: "pry_cod_prod", label: 'Desc.Producto:'}, { type: "newcolumn" }, 
                            { type: "input",readonly: true, offsetLeft: 0,labelWidth: 60, inputWidth: 300, name: "pry_desc_prod"}, { type: "newcolumn" }   
                        ]}
                ]},    
            ]; 

            var f_nuevo_registro = [
                { type: "newcolumn" },
                {type: "block", blockOffset: 0,offsetLeft: 470, position: "label-left", width: 200, list: [                       
                    {type: "input",readonly: false, style:"background-color:rgb(174, 214, 241);width: 200;height:120px,font-family: Arial; font-size: 11pt;text-align:center;",position:"input-right", offsetTop: 20, offsetLeft: 1,labelWidth: 140, inputWidth: 140, name: "act_nro"}, { type: "newcolumn" },         
                { type: "newcolumn" },] },              
                {type: "block", blockOffset: 0,  offsetTop: 20, position: "label-left", width: 700, list: [                 
                    { type: "input",disabled: false, offsetLeft: 40,labelWidth: 70, inputWidth: 500, name: "act_nombre", offsetTop: 20, label: 'Nombre:'}, { type: "newcolumn" },        
                    ],},
                { type: "newcolumn" },
                {type: "block", blockOffset: 0,  offsetTop: 20, position: "label-left", width: 700, list: [
                    { type: "input", name: 'act_desc', labelWidth: 70, readonly: false, rows:4 ,label: 'Descripción:', offsetLeft: 40, inputWidth: 500 }, { type: "newcolumn" },                                  
                    ],},
                { type: "newcolumn" },
                {type: "block", blockOffset: 0,  offsetTop: 20, position: "label-left", width: 700, list: [                       
                    { type: "select", name: 'act_asig', labelWidth: 70, readonly: false, label: 'Asignado a:', offsetLeft: 40, inputWidth: 500 }, { type: "newcolumn" },                                 
                    ],},
                { type: "newcolumn" },
                {type: "block", blockOffset: 40,  offsetTop: 20, position: "label-left", width: 700, list: [
                    { type: "input", readonly:true, offsetLeft: 0,labelWidth: 70, inputWidth: 120, name: "act_estado", label: 'Estado: '}, { type: "newcolumn" },   
                    { type: "calendar", readonly:true, offsetLeft: 163,labelWidth: 90, inputWidth: 120, name: "act_fecha", label: 'Fecha Registro: '}, { type: "newcolumn" },   
                    ],},
            ];
            var f_aprobacion = [
                { type: "newcolumn" },
                {type: "block", blockOffset: 0,  offsetTop: 5, position: "label-left", width: 550, list: [
                    { type: "input",offsetLeft: 10,labelWidth: 100, inputWidth: 400, rows:4, name: "_et_obs_pat", label: 'Observaciones:'}, { type: "newcolumn" },],},
   
            ];

            mainLayout_inicio = new dhtmlXLayoutObject(document.body, '1C'); 
            mainLayout_inicio.cells('a').hideHeader();
            tabbarinicio = mainLayout_inicio.cells('a').attachTabbar();
            // tabbarinicio.addTab('__registrar', 'Registro de Proyectos', null, null, true);
            tabbarinicio.addTab('__buscar', 'Control de artes', null, null, true);
            tabbarinicio.addTab('__gant', 'Actividades', null, null, false);
            tabbarinicio.attachEvent ( "onSelect" , inicioOnSelect);         
            Inicio();
        </script>
    </body>
</html>