<!DOCTYPE html>
<html>
    <head>
        <title>Notificación Sanitaria</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
        <!--   <link rel="stylesheet" type="text/css" href="/assets/vendor/font-awesome-4.7.0/css/font-awesome.min.css"> -->
        <link rel="stylesheet" type="text/css" href="/assets/vendor/dhtmlx/skins/skyblue/dhtmlx.css">
        <!--   <link rel="stylesheet" type="text/css" href="/assets/vendor/dhtmlx/sources/dhtmlxform/codebase/skins/dhtmlxform_material.css">   -->
        <link rel="stylesheet" type="text/css" href="<%=path%>style.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
            integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <!--link rel="stylesheet" href="/assets/vendor/dhtmlx/codebase/vault/codebase/vault.css" -->
        <link rel="stylesheet" type="text/css" href="codebase/dhtmlxtabbar.css">
        <style type="text/css">
            html,
            body {
                height: 100%;
                margin: 0;
                padding: 0;
                width: 100%
            }

            #dhxDesktop {
                height: 100%;
                width: 100%;
            }
        </style>
    </head>
    <body>
        <div id="dhxDesktop"></div>
        <script type="text/javascript" src="/assets/vendor/jquery/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="/assets/js/conf.js"></script>
        <script type="text/javascript" src="/assets/vendor/dhtmlx/codebase/dhtmlx.js"></script>
        <!-- <script src="/assets/vendor/dhtmlx/codebase/vault/codebase/vault.js"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
        <!-- <script src="/codebase/dhtmlxtabbar.js"></script> -->
        <!-- script propio de la ventana -->
        <!--<script type="text/javascript" src="<%=path%>script.js"></script> -->
        <script type="text/javascript" src="<%=path%>script.js"></script>
        <!-- ancestro de la ventana de seguridad -->
        <script type="text/javascript" src="/assets/ancestros/grid-busqueda.js"></script>
        <script type="text/javascript" src="/assets/ancestros/seguridad.js"></script>
        <!-- scripts de la carga de la vista -->
        <script type="text/javascript" src="/assets/js/sweetalert.js"></script>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/drilldown.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/modules/export-data.js"></script>
        <script src="https://code.highcharts.com/modules/accessibility.js"></script>        
        <script src="http://code.highcharts.com/modules/exporting.js"></script>
        <script>
            var tabbarinicio,mainLayout_inicio;
            function Greater100(data){
                if (data=="") return true;// returns 'true' if the field is empty

                return (data>100);
            }
            var base_tollbar_nvo = {
            iconset: "awesome", items: [
                { id: "__nuevo", type: "button", disabled: false, text: "Nuevo", img: "fas fa-plus-square txtrskyblue", imgdis: "fas fa-plus-square disable txtrskyblue" },
                { type: "separator" },
                { id: "__edit", type: "button", text: "Editar", disabled: false, hideHeader: true, img: "fas fa-edit txtroran", imgdis: "fas fa-edit disable txtroran" },
                { type: "separator" },
                { id: "__save", type: "button", text: "Guardar", disabled: false, img: "fas fa-save txtrdarkblue", imgdis: "fas fa-save disable txtrdarkblue" },
                { type: "separator" },
            ]
            };

            var base_tollbar_rev = {
            iconset: "awesome", items: [
                { id: "__pass", type: "button", text: "Aprobar", disabled: true, img: "far fa-thumbs-up txtrblue", imgdis: "far fa-thumbs-up" }, //<i class="far fa-thumbs-up"></i>
                { type: "separator" },
                { id: "__fail", type: "button", text: "Rechazar", disabled: true, img: "far fa-thumbs-down txtrblue", imgdis: "far fa-thumbs-down" },//<i class="far fa-thumbs-down"></i>
                { type: "separator" },
                { id: "__dele", type: "button", text: "Anular", disabled: true, img: "fas fa-ban txtred", imgdis: "fas fa-ban txtred" },//<i class="fas fa-people-carry"></i>
                { type: "separator" },
                { id: "__back", type: "button", text: "Devolver a Almacen", disabled: true, img: "fas fa-people-carry", imgdis: "fas fa-people-carry" },
                { type: "separator" },
            ]
            };

            var f_nuevo_registro = [
                { type: "settings", labelWidth: 100 },
                {type: "block", blockOffset: 0,  offsetTop: 20,offsetLeft: 40, position: "label-left", width: 350, list: [
                    { type: "input",readonly: false,required: true,label: 'Código NSOC',validate:"Greater100", style:"width: 300px;height:30px,font-family: Arial; font-size: 15pt;",position:"input-right", offsetLeft: 0,labelWidth: 100, inputWidth: 100, name: "_drt_nrosoc"}, { type: "newcolumn" },
                { type: "newcolumn" },] },
                {type: "block", blockOffset: 0,  offsetTop: 20, position: "label-left", width: 350, list: [
                    { type: "input",offsetLeft: 40,labelWidth: 100, inputWidth: 300, name: "_drt_nombre", label: 'Nombre Producto:',rows:7}, { type: "newcolumn" },
                    ],},
                { type: "newcolumn" },
                {type: "block", blockOffset: 40,  offsetTop: 50, position: "label-left", width: 350, list: [
                    { type: "input",readonly:true,labelWidth: 80,offsetLeft:0,inputWidth: 150,label:'Especificación', name: "_drt_esp"}, { type: "newcolumn" },
                    //{ type: "button", name: 'buscaresp',offsetTop:1, disabled: false,  value: '<i class="fas fa-search"></i>' }, { type: "newcolumn" },
                   ],},
                { type: "newcolumn" },
                {type: "block", blockOffset: 40,  offsetTop: 20, position: "label-left", width: 350, list: [
                    { type: "input",readonly:true,labelWidth: 80,offsetLeft:0,inputWidth: 50,label:'Versión', name: "_drt_vers"}, { type: "newcolumn" },
                   ],},
                { type: "newcolumn" },
                {type: "block", blockOffset: 40,  offsetTop: 20, position: "label-left", width: 350, list: [
                    { type: "select", offsetLeft: 0,required: true,labelWidth: 80, inputWidth: 100, name: "_drt_formacosmetica", label: 'Forma Cosmetica', connector: BASE_URL + 'PO010208/mostrar-forma-cosmetica'}, { type: "newcolumn" },
                    ],},
                { type: "newcolumn" },
                {type: "block", blockOffset: 40,  offsetTop: 20, position: "label-left", width: 700, list: [
                    { type: "calendar", readonly: false, offsetLeft: 10,required: true,labelWidth: 100, inputWidth: 100, name: "_drt_fechadesde", label: 'Vigencia Inicio'}, { type: "newcolumn" },
                    { type: "calendar", readonly: false, offsetLeft: 175,required: true,labelWidth: 100, inputWidth: 100, name: "_drt_fechahasta", label: 'Vigencia Fin  '}, { type: "newcolumn" },
                    ],},
                { type: "newcolumn" },
                {type: "block", blockOffset: 40,  offsetTop: 20, position: "label-left", width: 700, list: [
                    { type: "input",hidden: false, inputWidth: 100,disabled: false, offsetLeft: 10,required: true,labelWidth: 100,  name: "_drt_tuv_com", label: 'Tiempo de vida útil Comercial'}, { type: "newcolumn" },
                    { type: "input",hidden: false, inputWidth: 100,disabled: false, offsetLeft: 175,required: true,labelWidth: 100,  name: "_drt_tuv_prod", label: 'Tiempo de vida útil Producción'}, { type: "newcolumn" },
                    ],},
            ];

            var f_buscar_prod = [ { type: "newcolumn" },
            {type: "fieldset", label: "Filtrar por clase",offsetLeft: 40,  offsetTop: 10, inputWidth: 690, list:[
                {type: "block", blockOffset: 0, position: "label-left", width: 690, list: [
                    { type: "select",disabled: false, offsetLeft: 0,labelWidth: 40, inputWidth: 150, name: "_drt_clase", label: 'Clase:' ,connector: BASE_URL + 'PO010208/mostrar-clase'}, { type: "newcolumn" },
                    { type: "select",disabled: true, offsetLeft: 15,labelWidth: 50, inputWidth: 150, name: "_drt_familia", label: 'Familia:' }, { type: "newcolumn" },
                    { type: "select",disabled: true, offsetLeft: 15,labelWidth: 70, inputWidth: 150, name: "_drt_subfamilia", label: 'Sub Familia:' }, { type: "newcolumn" },

                ]}
            ]},
            { type: "newcolumn" },
            {type: "fieldset", label: "Filtrar por marca",offsetLeft: 40,  offsetTop: 10, inputWidth: 460, list:[
                {type: "block", blockOffset: 0, position: "label-left", width: 460, list: [
                    { type: "select",disabled: false, offsetLeft: 0,labelWidth: 45, inputWidth: 150, name: "_drt_marca", label: 'Marca:' ,connector: BASE_URL + 'PO010208/mostrar-marca'}, { type: "newcolumn" },
                    { type: "select",disabled: true, offsetLeft: 20,labelWidth: 60, inputWidth: 150, name: "_drt_submarca", label: 'Sub Marca:' }, { type: "newcolumn" },

                ]}
            ]}, { type: "newcolumn" },
            {type: "block",blockOffset: 10,  offsetTop: 10, position: "label-left", width: 800, list: [
                { type: "newcolumn" },
                { type: "input",offsetLeft: 40,labelWidth: 60, inputWidth: 300, name: "_drt_buscador", label: 'Producto:'}, { type: "newcolumn" },

                { type: "button",style:"height:200px;width:200px",disabled: false, offsetTop: 0, offsetLeft: 20, name: "_r_revisar",rows:5,labelWidth: "100", value: ' <div ><b>Buscar </b>    <img src="/assets/images/icons/ic-buscarp.png" style="width:20px; height:20px"></div> '}, { type: "newcolumn" }
            ],}];

            var f_consulta_notif = [ { type: "newcolumn" },
            {type: "block",blockOffset: 10,  offsetTop: 10, position: "label-left", width: 450, list: [
                { type: "newcolumn" },
                { type: "input",offsetLeft: 10,labelWidth: 40, inputWidth: 200, name: "_drt_buscarnso", label: 'NSO:'}, { type: "newcolumn" },

                { type: "button",style:"height:200px;width:200px",disabled: false, offsetTop: 0, offsetLeft: 20, name: "_r_revisar",rows:5,labelWidth: "80", value: ' <div ><b>Buscar </b>    <img src="/assets/images/icons/ic-buscarp.png" style="width:20px; height:20px"></div> '}, { type: "newcolumn" }
            ],}
            ];
            var f_rev_nso = [ { type: "newcolumn" },
            {type: "block", blockOffset: 0,  offsetTop: 20,offsetLeft: 40, position: "label-left", width: 400, list: [
                    { type: "input",readonly: true,label: 'Código NSOC:',validate:"Greater100", style:"background-color:rgb(234, 255, 71);width: 300px;height:30px,font-family: Arial; font-size: 15pt;",position:"input-right", offsetLeft: 0,labelWidth: 100, inputWidth: 100, name: "_drt_nrosoc"}, { type: "newcolumn" },
                { type: "newcolumn" },] },
                {type: "block", blockOffset: 0,  offsetTop: 20, position: "label-left", width: 400, list: [
                    { type: "input",readonly: true,offsetLeft: 40,labelWidth: 100, inputWidth: 300, name: "_drt_nombre", label: 'Nombre Producto:'}, { type: "newcolumn" },
                    ],},
                { type: "newcolumn" },
                {type: "block", blockOffset: 0,  offsetTop: 20, position: "label-left", width: 400, list: [
                    { type: "input",readonly: true,offsetLeft: 40,labelWidth: 100, inputWidth: 300, name: "_drt_estado", label: 'Estado:'}, { type: "newcolumn" },
                    ],},
                { type: "newcolumn" },
                {type: "block", blockOffset: 40,  offsetTop: 20, position: "label-left", width: 400, list: [
                    { type: "calendar", readonly: true, offsetLeft: 0,labelWidth: 80, inputWidth: 100, name: "_drt_fechadesde", label: 'Vigencia Inicio: '}, { type: "newcolumn" },
                    ],},
                { type: "newcolumn" },
                {type: "block", blockOffset: 40,  offsetTop: 20, position: "label-left", width: 400, list: [
                    { type: "calendar", readonly: true, offsetLeft: 0,labelWidth: 80, inputWidth: 100, name: "_drt_fechahasta", label: 'Vigencia Fin: '}, { type: "newcolumn" },
                    ],},
                { type: "newcolumn" },
                {type: "block", blockOffset: 40,  offsetTop: 20, position: "label-left", width: 400, list: [
                { type: "select", offsetLeft: 0,labelWidth: 80, inputWidth: 100, name: "_drt_formacosmetica", label: 'Forma Cosmetica: ', connector: BASE_URL + 'PO010208/mostrar-forma-cosmetica'}, { type: "newcolumn" },
                    ],},
                { type: "newcolumn" },
                {type: "block", blockOffset: 40,  offsetTop: 20, position: "label-left", width: 400, list: [
                    { type: "input", readonly: true, offsetLeft: 0,labelWidth: 80, inputWidth: 100, name: "_drt_estado", label: 'Estado: '}, { type: "newcolumn" },
                    ],},
                { type: "newcolumn" },
                {type: "block", blockOffset: 40,  offsetTop: 20, position: "label-left", width: 400, list: [
                    { type: "checkbox", checked: false,disabled: false, offsetLeft: 0,labelWidth: 80,  name: "_drt_kit", label: 'Dejar Vencer: '}, { type: "newcolumn" },
                    ],},
                { type: "newcolumn" },
                {type: "block", blockOffset: 40,  offsetTop: 20, position: "label-left", width: 400, list: [
                    { type: "input", readonly: true, offsetLeft: 0,labelWidth: 80, inputWidth: 100, name: "_drt_nroregistro", label: 'Nro. Registro: '}, { type: "newcolumn" },
                    ],},
                { type: "newcolumn" },
                {type: "block", blockOffset: 40,  offsetTop: 20, position: "label-left", width: 400, list: [
                    { type: "input",readonly:true,labelWidth: 100,offsetLeft:0,inputWidth: 150,label:'Cod.Especificación:', name: "_drt_esp"}, { type: "newcolumn" },
                    ],},
                { type: "newcolumn" },
                {type: "block", blockOffset: 40,  offsetTop: 20, position: "label-left", width: 400, list: [
                    { type: "input", inputWidth: 100,disabled: false, offsetLeft: 0,labelWidth: 80,  name: "_drt_tuv_com", label: 'Tiempo de vida útil Comercial: '}, { type: "newcolumn" },
                    ],},
                { type: "newcolumn" },
                {type: "block", blockOffset: 40,  offsetTop: 20, position: "label-left", width: 400, list: [
                    { type: "input", inputWidth: 100,disabled: false, offsetLeft: 0,labelWidth: 80,  name: "_drt_tuv_prod", label: 'Tiempo de vida útil Producción: '}, { type: "newcolumn" },
                    ],},
                

            ];
            var f_filtro_formula = [
                { type: "settings", labelWidth: 100 },
                { type: "newcolumn" },
                {type: "block", blockOffset: 0,  offsetTop: 10, position: "label-left", width: 500, list: [
                    { type: "input",offsetLeft:20,inputWidth: 500,  name: "_fr_buscar"}, { type: "newcolumn" },
                   ],},
                { type: "newcolumn" },
                {type: "block", blockOffset: 0,  offsetTop: 10, position: "label-left", width: 100, list: [
                    { type: "button",offsetLeft: 50,  offsetTop: 1,labelWidth: 50, value:'Buscar', name: "_fr_busbut"}, { type: "newcolumn" },
                    ],},
                { type: "newcolumn" },
                {type: "block", blockOffset: 0,  offsetTop: 10, position: "label-left", width: 100, list: [
                    { type: "button",offsetLeft: 50,  offsetTop: 1,labelWidth: 50, value:'Limpiar', name: "_fr_limpiar"}, { type: "newcolumn" },
                    ],},
                { type: "newcolumn" },
                {type: "block", blockOffset: 0,  offsetTop: 15, position: "label-left", width: 300, list: [
                    { type: "checkbox",offsetLeft: 100,  offsetTop: 5,labelWidth: 120, label:'Todas las fórmulas', name: "_ch_todo"}, { type: "newcolumn" },
                    ],},
                { type: "newcolumn" },
                {type: "block", blockOffset: 0,  offsetTop: 15, position: "label-left", width: 250, list: [
                    { type: "checkbox",checked:true, offsetLeft: 20,  offsetTop: 5,labelWidth: 180, label:'Sólo las fórmulas por aprobar', name: "_ch_porap"}, { type: "newcolumn" },
                    ],},
            ];
            var f_filtro_especificacion = [
                { type: "settings", labelWidth: 100 },
                { type: "newcolumn" },
                {type: "block", blockOffset: 0,  offsetTop: 10, position: "label-left", width: 500, list: [
                    { type: "input",offsetLeft:20,inputWidth: 500,  name: "_fr_buscar"}, { type: "newcolumn" },
                   ],},
                { type: "newcolumn" },
                {type: "block", blockOffset: 0,  offsetTop: 10, position: "label-left", width: 100, list: [
                    { type: "button",offsetLeft: 50,  offsetTop: 1,labelWidth: 50, value:'Buscar', name: "_fr_busbut"}, { type: "newcolumn" },
                    ],},
                { type: "newcolumn" },
                {type: "block", blockOffset: 0,  offsetTop: 15, position: "label-left", width: 350, list: [
                    { type: "checkbox",checked:true, offsetLeft: 100,  offsetTop: 5,labelWidth: 100, label:'Mostrar vigentes', name: "_ch_vigente"}, { type: "newcolumn" },
                    ],},
            ];

            var f_cosmetica = [ { type: "newcolumn" },
            {type: "block",blockOffset: 10,  offsetTop: 10, position: "label-left", width: 450, list: [
                { type: "newcolumn" },
                { type: "input",offsetLeft: 10,labelWidth: 150, inputWidth: 200, name: "_drt_form_cosm", label: 'NOMBRE FORMA COSMÉTICA:'}, { type: "newcolumn" },

            ],}
            ];

            var form_caract = [
                { type: "settings", labelWidth: 100 },
                { type: "newcolumn" },
                {type: "block", blockOffset: 0,  offsetTop: 10, position: "label-left", width: 1300, list: [
                    { type: "input",readonly:false,labelWidth: 120,offsetLeft:15,inputWidth: 500,rows:9,label:'<b>CARACTERÍSTICAS GENERALES</b>', name: "_ep_car_gen"}, { type: "newcolumn" },
                    { type: "input",readonly:false,labelWidth: 120,offsetLeft:15,inputWidth: 500,rows:9,label:'<b>CONDICIONES DE ALMACENAMIENTO</b>', name: "_ep_car_alm"}, { type: "newcolumn" },
                   ],},
            ];

            var form_control = [
                { type: "settings", labelWidth: 100 },
                { type: "newcolumn" },
                {type: "block", blockOffset: 0,  offsetTop: 10, position: "label-left", width: 1300, list: [
                    { type: "select",disabled: false, offsetLeft: 20,labelWidth: 45, inputWidth: 150, name: "_drt_anios", label: 'Años:' ,connector: BASE_URL + 'PO010208/mostrar-anio'}, { type: "newcolumn" },
                ],},
                { type: "newcolumn" },
                {type: "block", blockOffset: 0,  offsetTop: 10, position: "label-left", width: 1300, list: [
                    { type: "button",style:"height:200px;width:200px",disabled: false, offsetTop: 0, offsetLeft: 120, name: "_drt_buscar",rows:5,labelWidth: "80", value: ' <div ><b>Buscar </b>    <img src="/assets/images/icons/ic-look.png" style="width:20px; height:20px"></div> '}, { type: "newcolumn" }
                ],},
            ];
            
            var form_observaciones = [ { type: "newcolumn" },
            {type: "block",blockOffset: 10,  offsetTop: 10, position: "label-left", width: 450, list: [
                { type: "newcolumn" },
                { type: "input",offsetLeft: 10,labelWidth: 150, inputWidth: 400, rows:4, name: "_drt_observ", label: 'Observaciones:'}, { type: "newcolumn" },],
            }];
            mainLayout_inicio = new dhtmlXLayoutObject(document.body, '1C'); 
            mainLayout_inicio.cells('a').hideHeader();
            tabbarinicio = mainLayout_inicio.cells('a').attachTabbar();
            tabbarinicio.addTab('__register', 'Registrar Notificación Sanitaria', null, null, true);
            tabbarinicio.addTab('__drive', 'PlacentaDrive', null, null, false);
            tabbarinicio.addTab('__reg', 'Registros', null, null, false);
            tabbarinicio.addTab('__marca', 'Marca', null, null, false);
            tabbarinicio.addTab('__fecven', 'Vencimiento', null, null, false);
            tabbarinicio. attachEvent ( "onSelect" , inicioOnSelect);  
            Inicio_nso();            

            

        </script>
    </body>
</html>