#dhxViewport,#dv-treeview{height:100%;width:100%;}
#dv-header{background-color:#ebebeb;height:100%;padding-top:12px;width:100%;}
#dv-header>img{display:block;margin:0 auto;width:50%;}
#dv-header>.p-title{display:block;font-family:'Open Sans',Verdana;font-size:14px;margin:16px auto 2px;text-align:right;width:85%;}
#dv-header>.p-link{display:block;font-family:'Open Sans',Verdana;font-size:12px;margin:0px auto;text-align:right;width:85%;}
#list_usu { cursor: pointer;
            font-weight : 500;  font-family:century gothic, verdana, arial, sans-serif!important;
} 
#list_usu_close {
    font-weight : 700;  font-family:century gothic, verdana, arial, sans-serif!important;  color : red;cursor: pointer;
}

div.name_label {
    text-align: left;
    font-weight:100;
    font-size: 12px;
    font-weight : 500;  font-family:century gothic, verdana, arial, sans-serif!important;
}
div.name_ccostos{
    font-weight : 500;  font-family:century gothic, verdana, arial, sans-serif!important;
    text-align: center;margin: auto;
    border: 1px solid dodgerblue;
    padding: 3px 7px 3px 7px;
    border-radius: 20px;
    box-shadow: inset 0 0 6px darkturquoise;
}

.input_font{
    font-weight : 500; font-family:century gothic, verdana, arial, sans-serif!important;
}
div.user_name {
    cursor: pointer;
    text-align: center;
    font-weight:100;
    font-size: 12px;
    font-weight : 800;  font-family:century gothic, verdana, arial, sans-serif!important;
}
.classfont{
    font-family:century gothic, verdana, arial, sans-serif!important;
}
#photo_usu img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}


#photocharge{cursor:pointer;
             position: absolute;
             border-radius : 50%;
             width:110px;
             height : 100px;
             padding : 0px;
}
#eventForm{
    cursor:pointer;
    width: 110px;
    height: 100px;
    border: 3px dashed black;
    padding : 4px;
}
#eventForm::placeholder{
    border: 3px dashed red;
}
#fphoto{ 
    cursor:pointer;
    position: relative;
    margin: 10px;
    padding: 0 0 0 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
}

#fboton{
    margin: 0;
    color: #fff;
    background: #16a085;
    border: none;
    width: 111px;
    height: 35px;
    margin-top: -20px;
    margin-left: -8px;
    border-radius: 4px;
    border-bottom: 4px solid #117A60;
    transition: all .2s ease;
    outline: none;
}

*, :before, :after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;

}

html {
    overflow-x: hidden;
}


#search-btn {
    position: absolute;
    left: -100vw;
}
#search-btn ~ * {
    --i: var(--pos, 1);
    --j: calc(1 - var(--i)) ;
}
#search-btn:checked ~ * {
    --pos: 0 ;
}

#label-s {
    display: flex;
    order: 1;
    margin-top: 1.5em;
    overflow: hidden;
    margin-left: 25em!important;
    position: fixed;
    z-index: 2;
    margin-left: -1.25em;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    transform: translate(-100%,-50%) rotate(45deg);
    background:darkseagreen;
    text-indent: -100vw;
    transition: 0.65s ease-out;
    cursor: pointer;
}
#label-s:before, [for=search-btn]:after {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -0.8125em;
    width: 1.625em;
    height: 1.625em;
    transition: inherit;
    content: "";
}
#label-s:before {
    margin-top: -0.08125em;
    height: 0.203125em;
    transform-origin: 100% 0;
    transform: translate(var(--pos, 0.40625em)) scalex(calc(1 - var(--i)*.5));
    background: currentcolor;
}
#label-s:after {
    border: solid 0.203125em currentcolor;
    border-radius: calc(var(--i)*50%);
    transform: translate(var(--pos, -0.40625em)) scalex(calc(var(--j)*0.125 + var(--i)));
    box-shadow: inset 0 0 0 calc(var(--j)*0.8125em) currentcolor;
    transition-property: border-radius, transform, box-shadow;
    transition-timing-function: cubic-bezier(calc(var(--j)*.42), 0, calc(1 - var(--i)*.42), 1), cubic-bezier(calc(var(--i)*.42), 0, calc(1 - var(--j)*.42), 1);
}
.standartTreeImage img{
    width:0px;
}
#search-bar1  {
    /*margin-right: -1.25em;*/
    margin-right: 1em;
    border: none;
    padding: 0 1em;
    width: 24em;
    height: 3.25em;
    border-radius: 3.25em;
    transform: translate(var(--pos, 22em));
    background: #3f324d;
    --cp: inset(-2em var(--pos, 100%) -2em -2em);
    -webkit-clip-path: var(--cp);

    clip-path: var(--cp);
    color: #fff;
    font: 1em century gothic, verdana, arial, sans-serif;
    transition: 0.65s;
}
#search-bar1::placeholder {
    opacity: 0.5;
    color: inherit;
    font-size: 1.275em;
    letter-spacing: 1px;
    text-shadow: 0 0 1px, 0 0 2px;
}
#search-bar1:focus {

    color : white;
}

.dhx_list_custom_item_selected{
    font-weight:bold !important;
}

.milky {
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    text-transform: uppercase;
    display: block;
    font-size: 22px;
    color: black;
    text-shadow: 0 8px 9px #656a63c7, 0px -2px 1px #fff;
    font-weight: bold;
    letter-spacing: 0px;
    text-align: center;

    position: inherit;
    padding: 1px 2px;
    top: 50%;
    left: 50%;

    border-radius: 20px; 
}