::-webkit-scrollbar {    width: 7px!important;}
::-webkit-scrollbar-track {  background: content-box!important;  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)!important;     border-radius: 10px!important;}
::-webkit-scrollbar-thumb { background: content-box!important;   border-radius: 10px!important;    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5)!important; }
#dhxViewport,#dv-treeview{height:100%;width:100%;}
#dv-header{background-color:#ebebeb;height:100%;padding-top:12px;width:100%;}
#dv-header>img{display:block;margin:0 auto;width:50%;}
#dv-header>.p-title{display:block;font-family:'Open Sans',Verdana;font-size:14px;margin:16px auto 2px;text-align:right;width:85%;}
#dv-header>.p-link{display:block;font-family:'Open Sans',Verdana;font-size:12px;margin:0px auto;text-align:right;width:85%;}
#list_usu { cursor: pointer;
            font-weight : 500;  font-family:century gothic, verdana, arial, sans-serif!important;
} 
#list_usu_close {
    font-weight : 700;  font-family:century gothic, verdana, arial, sans-serif!important;  color : red;cursor: pointer;
}

div.name_label {
    text-align: left;
    font-weight:100;
    font-size: 12px;
    font-weight : 500;  font-family:century gothic, verdana, arial, sans-serif!important;
}
div.name_ccostos{
    font-weight : 500;  font-family:century gothic, verdana, arial, sans-serif!important;
    text-align: center;margin: auto;
    border: 1px solid dodgerblue;
    padding: 3px 7px 3px 7px;
    border-radius: 20px;
    box-shadow: inset 0 0 6px darkturquoise;
}

.input_font{
    font-weight : 700; font-family:century gothic, verdana, arial, sans-serif!important;
}


/***************Formato para botones solo icons*/
.dhxform_item_label_left.fsalirw div.dhxform_btn {cursor: pointer; border : 0px solid white; background-color: white;}

/************ Formato para los label del DhtmlxForm**/

.dhxform_item_label_left.fsalirw div.dhxform_btn div.dhxform_btn_txt .fas.fa-window-close {    font-size: 2.2em;     color: red;}

div.title_usu {
     float : right;
      text-transform: capitalize;
    text-align: center;
    font-weight:100;
    font-size: 20px !important;
    font-weight : 800;  font-family:century gothic, verdana, arial, sans-serif!important;
}
div.user_name {
    cursor: pointer;
    text-align: center;
    font-weight:100;
    font-size: 12px;
    font-weight : 800;  font-family:century gothic, verdana, arial, sans-serif!important;
}

/*************** Clase generica de Tipo de Fuente*/
.classfont{
    font-family:century gothic, verdana, arial, sans-serif!important;
}

/****************** CSS  IMG PROFILE EN EL MENU PRINCIPAL    **/
#photo_usu img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}
/************ CSS IMG PERFIL - MODULO PERSONALIZACION */
#photocharge{
    cursor:pointer;
    position: absolute;
    border-radius : 50%;
    width:110px;
    height : 110px;
    padding : 0px;
    margin: 13px;
}
#eventFormperfil{
    cursor:pointer;
    width: 135px;
    height: 179px;
    border: 3px dashed black;
    padding : 4px;
}
#fphoto{ 
    cursor:pointer;
    position: relative;
    padding: 0 0 0 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
}

#formp{
    text-align: center;
    position: relative;
    width: 120px;
    margin: -64px 0 0 1px;
    color: #00f;
    font-size: 0.9em;
    padding-top: 18px;
}
#fboton{
    margin: 0;
    cursor: pointer;
    color: #fff;
    background: #16a085;
    border: none;
    width: 137px;
    height: 35px;
    margin-top: 17px;
    margin-left: -7px;
    border-radius: 4px;
    border-bottom: 4px solid #117A60;
    transition: all .2s ease;
    outline: none;
    font-family:century gothic, verdana, arial, sans-serif!important;
}

/*************** CSS DHTMLX FORM INPUT ***********/

.dhxform_obj_material .dhxform_textarea{
    border-style: groove;
}
.dhxform_item_label_left.b_savec.disabled div.dhxform_btn{
   opacity: 0.4;
}
/************************  CSS background FONDO animate ****/
.loader-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#img_fondo_ .loader-container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: #2ec079;
    /*z-index: -1;*/
    transition: top 0.5s linear 1.1s;
}
#img_fondo_ .loader-container:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: #2ec079;
    /*z-index: -1;*/
    transition: bottom 0.5s linear 1.1s;
}
#img_fondo_ .loader-container.done:before {
    top: -50%;
}
#img_fondo_ .loader-container.done:after {
    bottom: -50%;
}
.progress {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    transform-origin: center;
    z-index: 1;
}
.progress .progress__item {
    text-align: center;
    width: 100px;
    height: 100px;
    line-height: 100px;
    border: 2px solid #fff;
    border-radius: 50%;
}
.progress .progress__item:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    margin-top: -3px;
    margin-left: 0px;
    width: 54px;
    height: 54px;
    border-top: solid 10px #fff;
    border-right: solid 10px #fff;
    border-top-right-radius: 100%;
    transform-origin: left bottom;
    -webkit-animation: spin 1s linear infinite;
}
.progress.float .progress__item:before {
    border-top-width: 2px;
    margin-top: 0px;
    height: 50px;
}
.progress.float.shadow:before {
    border-top-width: 2px;
    margin-top: -41px;
    height: 50px;
}
.progress.shadow:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -43px 0 0 12px;
    width: 45px;
    height: 45px;
    border-top: solid 10px #2bb471;
    border-right: solid 10px #2bb471;
    border-top-right-radius: 100%;
    z-index: -1;
    transform-origin: left bottom;
    -webkit-animation: spin 1s linear infinite;
}
.progress.shadow:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    color: #2bb471;
    text-align: center;
    line-height: 100px;
    border: 2px solid #2bb471;
    border-radius: 50%;
    margin: -40px 0 0 -40px;
    z-index: -1;
    transform-origin: center;
}
.progress.done .progress__item {
    opacity: 0;
    -webkit-animation: done 1.1s;
    transition: opacity 0.3s linear 1.1s;
}
.progress.done .progress__item:before {
    display: none;
}
.progress.done:before {
    display: none;
}
.progress.done:after {
    opacity: 0;
    -webkit-animation: done 1.1s;
    transition: opacity 0.15s linear 1.1s;
}
@-webkit-keyframes done {
    10% {
        transform: scale(1.1);
    }
    20% {
        transform: scale(0.9);
    }
    30% {
        transform: scale(1.07);
    }
    40% {
        transform: scale(0.93);
    }
    50% {
        transform: scale(1.04);
    }
    60% {
        transform: scale(0.97);
    }
    80% {
        transform: scale(1.01);
    }
    90% {
        transform: scale(0.99);
    }
    100% {
        transform: scale(1);
    }
}
@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}


/******** CSS FIELDSET IMG FONDO- MODULO PERSONALIZACION  */
#fondocharge{
    cursor:pointer;
    position: absolute;
    border-radius : 2%;
    width:235px;
    height : 110px;
    padding : 0px;
    margin: 13px;
}


#eventFormfondo{
    cursor:pointer;
    width: 262px;
    height: 179px;
    border: 3px dashed black;
    padding : 4px;
}


#ffondo{ 
    cursor:pointer;
    position: relative;
    padding: 0 0 0 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
}

#formpf{
    text-align: center;
    position: relative;
    width: 262px;
    margin: -64px 0 0 1px;
    color: #00f;
    font-size: 0.9em;
    padding-top: 18px;
}
#fbotonf{
    margin: 0;
    cursor: pointer;
    color: #fff;
    background: #16a085;
    border: none;
    width: 262px;
    height: 35px;
    margin-top: 32px;
    margin-left: -7px;
    border-radius: 4px;
    border-bottom: 4px solid #117A60;
    transition: all .2s ease;
    outline: none;
    font-family:century gothic, verdana, arial, sans-serif!important;
}


/************************ CSS INPUT SEARCH ***/
*, :before, :after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;

}

html {
    overflow-x: hidden;
}


#search-btn {
    position: absolute;
    left: -100vw;
}
#search-btn ~ * {
    --i: var(--pos, 1);
    --j: calc(1 - var(--i)) ;
}
#search-btn:checked ~ * {
    --pos: 0 ;
}

#label-s {
    display: flex;
    order: 1;
    margin-top: 1.5em;
    overflow: hidden;
    margin-left: 25em!important;
    position: fixed;
    z-index: 2;
    margin-left: -1.25em;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    transform: translate(-100%,-50%) rotate(45deg);
    background:darkseagreen;
    text-indent: -100vw;
    transition: 0.65s ease-out;
    cursor: pointer;
}
#label-s:before, [for=search-btn]:after {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -0.8125em;
    width: 1.625em;
    height: 1.625em;
    transition: inherit;
    content: "";
}
#label-s:before {
    margin-top: -0.08125em;
    height: 0.203125em;
    transform-origin: 100% 0;
    transform: translate(var(--pos, 0.40625em)) scalex(calc(1 - var(--i)*.5));
    background: currentcolor;
}
#label-s:after {
    border: solid 0.203125em currentcolor;
    border-radius: calc(var(--i)*50%);
    transform: translate(var(--pos, -0.40625em)) scalex(calc(var(--j)*0.125 + var(--i)));
    box-shadow: inset 0 0 0 calc(var(--j)*0.8125em) currentcolor;
    transition-property: border-radius, transform, box-shadow;
    transition-timing-function: cubic-bezier(calc(var(--j)*.42), 0, calc(1 - var(--i)*.42), 1), cubic-bezier(calc(var(--i)*.42), 0, calc(1 - var(--j)*.42), 1);
}
.standartTreeImage img{
    width:0px;
}
#search-bar1  {
    /*margin-right: -1.25em;*/
    margin-right: 1em;
    border: none;
    padding: 0 1em;
    width: 24em;
    height: 3.25em;
    border-radius: 3.25em;
    transform: translate(var(--pos, 22em));
    background: #3f324d;
    --cp: inset(-2em var(--pos, 100%) -2em -2em);
    -webkit-clip-path: var(--cp);

    clip-path: var(--cp);
    color: #fff;
    font: 1em century gothic, verdana, arial, sans-serif;
    transition: 0.65s;
}
#search-bar1::placeholder {
    opacity: 0.5;
    color: inherit;
    font-size: 1.275em;
    letter-spacing: 1px;
    text-shadow: 0 0 1px, 0 0 2px;
}
#search-bar1:focus {

    color : white;
}

/* ===================================================*/
.dhx_list_custom_item_selected{
    font-weight:bold !important;
}

/*.milky {
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    text-transform: uppercase;
    display: block;
    font-size: 22px;
    color: black;
    text-shadow: 0 8px 9px #656a63c7, 0px -2px 1px #fff;
    font-weight: bold;
    letter-spacing: 0px;
    text-align: center;

    position: inherit;
    padding: 1px 2px;
    top: 50%;
    left: 50%;

    border-radius: 20px; 
}*/
/*.dhx_toolbar_text.milky {
    background: url('../../assets/images/home/clife-cloud_panel2.png') no-repeat fixed center;
    background-size: contain;
    width: 250px;
       background-size: contain;
    width: 250px;
}*/
.dhx_toolbar_dhx_custom.dhxtoolbar_icons_32 div.dhx_toolbar_text {padding: 0px;}
div.milky{
     background: url('../../assets/images/home/clife-cloud_panel2.png') no-repeat center ;
    background-size: contain !important;
    width: 250px!important;
    margin: -5px;
    height: 45px;
}