.dv-background{ background-image:url('/assets/images/otros/fuerza-ventas.jpg');background-repeat:no-repeat;background-position:center center;height:100%;width:100%; }
.dv-background-busqueda{ background-image:url('/assets/images/otros/busca-clientes.jpg');background-repeat:no-repeat;background-position:center center;height:100%;width:100%; }
.lbl-form-win-cliente{ color:#00bcd4;font-weight:bold; }
