body {
    background-image: url('/assets/intranet/images/bg-pattern.jpg');
    background-repeat: repeat;
    padding-top: 40px;
}
.sidenav {
    background-color: #404040;
    height: calc(100vh);
    left: 0;
    padding-top: 40px;
    position: fixed;
    top: 0;
    width: 240px;
}
#main-content {
    padding-left: 240px;
}