<!DOCTYPE html>
<html>
    <head>
        <title>Seguimiento de Planillas de Cobranza</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="/assets/vendor/dhtmlx/skins/skyblue/dhtmlx.css">
        <link rel="stylesheet" type="text/css" href="<%=path%>style.css">
        <style type="text/css">
            html,body{height:100%;margin:0;padding:0;width:100%}
            #dhxDesktop{height:100%;width:100%;}
            .bt-big{font-size:16px;}
            .bt-big>div{cursor:pointer;}
            .bt-big>div>div{padding:8px 0 12px;}
            .bt-big>div>div>img{height:32px;margin-left:-16px;}
            .bt-big>div>div>span{position:relative;vertical-align:top;top:4px;font-size:14px;left:8|px;}
        </style>
    </head>
    <body>
        <script type="text/javascript" src="/assets/vendor/jquery/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="/assets/js/conf.js"></script>
        <script type="text/javascript" src="/assets/vendor/dhtmlx/codebase/dhtmlx.js"></script>
        <script type="text/javascript" src="/assets/ancestros/grid-busqueda.js"></script>
        <script type="text/javascript" src="/assets/ancestros/seguridad.js"></script>
        <script type="text/javascript" src="<%=path%>script.js"></script>
        <script src="https://code.highcharts.com/highcharts.src.js"></script>
        <script type="text/javascript">
            var mainLayout, formFiltro;
            mainLayout = new dhtmlXLayoutObject(document.body, '3W');
                mainLayout.cells('a').setWidth(240);
                mainLayout.cells('a').setText('Búsqueda de planillas');
                mainLayout.cells('c').setText('Gráficos');
                mainLayout.cells('c').setWidth(640);
            formFiltro = mainLayout.cells('a').attachForm();
                formFiltro.load(structs.formFiltro);
                formFiltro.attachEvent('onFocus', formFiltroOnFocus);
        </script>
    </body>
</html>