<!DOCTYPE html>
<html>
    <head>
        <title>Seguimiento de Planillas de Cobranza</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="/assets/vendor/dhtmlx/skins/skyblue/dhtmlx.css">
        <link rel="stylesheet" type="text/css" href="<%=path%>style.css">
    </head>
    <body>
        <script type="text/javascript" src="/assets/vendor/jquery/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="/assets/js/conf.js"></script>
        <script type="text/javascript" src="/assets/vendor/dhtmlx/codebase/dhtmlx.js"></script>
        <script type="text/javascript" src="/assets/ancestros/grid-busqueda.js"></script>
        <script type="text/javascript" src="/assets/ancestros/seguridad.js"></script>
        <script type="text/javascript" src="<%=path%>script.js"></script>
        <script src="https://code.highcharts.com/highcharts.src.js"></script>
        <script type="text/javascript">
            var mainLayout, formFiltro, mainTabbar, gridPlanillas, ribbonPlanillas, ribbonDepositos, gridDepositos, layoutDepositos;
            mainLayout = new dhtmlXLayoutObject(document.body, '3W');
                mainLayout.cells('a').setWidth(240);
                mainLayout.cells('a').setText('Búsqueda de planillas');
                mainLayout.cells('c').setText('Gráficos');
                mainLayout.cells('c').setWidth(640);
                mainLayout.cells('c').collapse();
                mainLayout.cells('c').attachHTMLString('<div style="height:100%;width:100%;overflow-y:auto;"><div id="dv-graficos"></div></div>');
            formFiltro = mainLayout.cells('a').attachForm();
                formFiltro.load(structs.formFiltro);
                formFiltro.attachEvent('onFocus', formFiltroOnFocus);
                formFiltro.attachEvent('onButtonClick', formFiltroOnButtonClick);
            mainTabbar = mainLayout.cells('b').attachTabbar();
                mainTabbar.addTab('planillas','Planillas encontradas',null,null,true);
                mainTabbar.addTab('depositos','Depósitos registrados');
            layoutDepositos = mainTabbar.tabs('depositos').attachLayout('2E');
                layoutDepositos.cells('a').hideHeader();
                layoutDepositos.cells('b').setText('Gráficos');
                layoutDepositos.cells('b').attachHTMLString('<div id="ch-depositos" style="height:100%;width:100%;"></div>');
        </script>
    </body>
</html>