
    <p class="mb-2">
        <a id="sidenav-datos" class="btn btn-transparent btn-block btn-sm text-left" href="/intranet/datos-personales"><i class="fa fa-user"></i> Datos personales</a>
    </p>
    <p class="mb-2">
        <a class="btn btn-danger btn-block btn-sm text-left" href="#" data-toggle="modal" data-target="#modal-logout"><i class="fa fa-sign-out"></i> Salir</a>
    </p>