
    <p class="mb-2">
        <a id="sidenav-administrar" class="btn btn-transparent btn-block btn-sm text-left" data-toggle="collapse" href="#menu-admin" role="button" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-cog"></i> Administrar</a>
    </p>
    <div class="collapse mb-2" id="menu-admin">
        <div class="card card-body bg-dark p-1 pl-4">
            <p class="my-2">
                <a id="sidenav-personal" href="/intranet/personal" class="sidenav-link">Personal</a>
            </p>
            <p class="my-2">
                <a id="sidenav-subirdocs" href="/intranet/subir-docs" class="sidenav-link">Subida de documentos</a>
            </p>
            <p class="my-2">
                <a id="sidenav-mensajes" href="/intranet/enviar-mensajes" class="sidenav-link">Mensajes</a>
            </p>
            <p class="my-2">
                <a id="sidenav-eventos" href="/intranet/eventos" class="sidenav-link">Eventos</a>
            </p>
        </div>
    </div>
    <p class="mb-2">
        <a id="sidenav-reportes" class="btn btn-transparent btn-block btn-sm text-left" data-toggle="collapse" href="#menu-reportes" role="button" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-list"></i> Reportes</a>
    </p>
    <div class="collapse mb-2" id="menu-reportes">
        <div class="card card-body bg-dark p-1 pl-4">
            <p class="my-2">
                <a id="reportes-acuse" href="/intranet/reporte-acuse" class="sidenav-link">Acuse documentos</a>
            </p>
            <p class="my-2">
                <a id="reportes-marcaciones" href="/intranet/reporte-marcaciones" class="sidenav-link">Marcaciones</a>
            </p>
        </div>
    </div>