<!DOCTYPE html>
<html>
    <head>
        <% include _main.head.ejs %>
    </head>
    <body>
        <!-- pinche navbar -->
        <% include _main.navbar.ejs %>
        <!-- sidenav -->
        <div id="sidenav" class="sidenav text-light">
            <% include _main.sidenav.ejs %>
            <% if (admin[0] == 'S') { %>
                <% include _main.sidenav.admin.ejs %>
            <% } if (admin[1] == 'S') { %>
                <% include _main.sidenav.documentacion.ejs %>
            <% } %>
            <!-- body -->
            <% include _main.sidenav.footer.ejs %>
        </div>
        <!-- body -->
        <div id="main-content">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item" aria-current="page"><a href="/intranet" class="text-secondary">Inicio</a></li>
                                <li class="breadcrumb-item text-secondary" aria-current="page">Control documentario</li>
                                <li class="breadcrumb-item active text-main" aria-current="page">Acuse de documentos</li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <!-- separador de bajo presupuesto -->
                <div class="row">
                    <div class="col">
                        <ul class="list-group mb-2">
                            <li class="list-group-item">
                                <p class="text-main mb-0">Reporte de acuse</p>
                            </li>
                            <li class="list-group-item">
                                <form id="form-usuario" class="py-1">
                                    <div class="form-group row mb-2">
                                        <label for="rpa-empresa" class="col-sm-2 col-form-label">Empresa</label>
                                        <div class="col-sm-6">
                                            <select id="rpa-empresa" class="form-control form-control-sm">
                                                <option value="0">- Seleccione -</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row mb-2">
                                        <label for="rpa-area" class="col-sm-2 col-form-label">Área</label>
                                        <div class="col-sm-10">
                                            <select id="rpa-area" class="form-control form-control-sm">
                                                <option value="0">- Seleccione -</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row mb-2">
                                        <label for="rpa-documento" class="col-sm-2 col-form-label">Documento</label>
                                        <div class="col-sm-10">
                                            <select id="rpa-documento" class="form-control form-control-sm">
                                                <option value="0">- Seleccione -</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row mb-0">
                                        <div class="col-sm-10 offset-lg-2">
                                            <a id="rpa-buscar" href="#" class="btn btn-sm btn-primary"><i class="fa fa-cogs"></i> Generar reporte</a>
                                            <!--a id="rpa-pdf" href="#" class="btn btn-sm btn-danger btn-pdf disabled ml-1" target="_blank"><i class="fa fa-file-pdf-o"></i> Exportar a PDF</a>
                                            <a id="rpa-xls" href="#" class="btn btn-sm btn-success btn-xls d-none disabled ml-1" target="_blank"><i class="fa fa-file-excel-o"></i> Exportar a XLS</a-->
                                        </div>
                                    </div>
                                </form>
                            </li>
                            <li class="list-group-item" id="reporte-container">
                                <p class="text-secondary mb-0">Debe seleccionar un envío para mostrar el reporte</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- separador de bajo presupuesto -->
            </div>
        </div>
        <!-- modals -->
        <% include _main.logout.ejs %>
        <!-- modal historico -->
        <div id="modal-historial" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Historial de visualizaciones</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p class="mb-1">Documento: <span id="hs-documento" class="text-primary"></span></p>
                        <p class="mb-1">Usuario: <span id="hs-usuario" class="text-primary"></span></p>
                        <table class="table table-sm table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Versión</th>
                                    <th>Fecha - hora</th>
                                    <th>Detalle</th>
                                </tr>
                            </thead>
                            <tbody id="historial-tbody"></tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-secondary">Cerrar reporte</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- separador de bajo presupuesto -->
        <% include _main.scripts.ejs %>
        <script>
            const sesion = JSON.parse('<%-sesion %>');
            
            CargaComboDocumentos = async _ => {
                let empresa = document.getElementById('rpa-empresa').value;
                let area = document.getElementById('rpa-area').value;
                if (empresa != 0 && area != 0) {
                    $('#rpa-documento').empty().append(
                        $('<option>').val(0).text('- Seleccione -')
                    );
                    let result = await $.ajax({
                        url: '/intranet/lista-combos',
                        method: 'post',
                        data: { empresa: empresa, area: area, combo: 2 },
                        dataType: 'json'
                    });
                    if (result.error) {
                        alert(result.error);
                        return;
                    }
                    for (let area of result.options) {
                        $('#rpa-documento').append(
                            $('<option>').val(area.value).text(area.text)
                        );
                    }
                }
            }
            CargaComboAreas = async _ => {
                let empresa = document.getElementById('rpa-empresa').value;
                if (empresa != 0) {
                    $('#rpa-area').empty().append(
                        $('<option>').val(0).text('- Seleccione -')
                    );
                    $('#rpa-documento').empty().append(
                        $('<option>').val(0).text('- Seleccione -')
                    );
                    let result = await $.ajax({
                        url: '/intranet/lista-combos',
                        method: 'post',
                        data: { empresa: empresa, area: -1, combo: 1 },
                        dataType: 'json'
                    });
                    if (result.error) {
                        alert(result.error);
                        return;
                    }
                    for (let area of result.options) {
                        $('#rpa-area').append(
                            $('<option>').val(area.value).text(area.text)
                        );
                    }
                }
            }
            CargaComboEmpresas = async _ => {
                // combo empresas - busca x envio
                let result = await $.ajax({
                    url: '/intranet/lista-empresas',
                    method: 'post',
                    dataType: 'json'
                });
                if (result.error) {
                    alert(result.error);
                    return;
                }
                for (let empresa of result.data.empresas) {
                    $('#rpa-empresa').append(
                        $('<option>').val(empresa.value).text(empresa.text)
                    );
                }
                // combo tipos documento - busca x envio
                $('#rpa-documento').empty().append(
                    $('<option>').val(0).text('- Seleccione -')
                );
            }
            GeneraReporte = async event => {
                event.preventDefault();
                $('#reporte-container').empty().append(
                    $('<p>').text('Por favor, espere...').addClass('text-secondary mb-1')
                );
                let empresa = document.getElementById('rpa-empresa').value;
                let area = document.getElementById('rpa-area').value;
                let documento = document.getElementById('rpa-documento').value;
                if (empresa != 0 && area != 0 && documento != '0') {
                    // ajaxcucho
                    let result = await $.ajax({
                        url: '/intranet/acuse-documentos',
                        method: 'post',
                        data: { empresa: empresa, area: area, documento: documento },
                        dataType: 'json'
                    });
                    if (result.error) {
                        $('#reporte-container').empty().append(
                            $('<p>').text(result.error).addClass('text-danger mb-1')
                        );
                        return;
                    }
                    $('#reporte-container').empty();
                    let tbody = $('<tbody>');
                    for (let fila of result.reporte) {
                        tbody.append(
                            $('<tr>').append(
                                $('<td>').append(fila.dni)
                            ).append(
                                $('<td>').append(fila.nombre)
                            ).append(
                                $('<td>').append(fila.puesto)
                            ).append(
                                $('<td>').append(fila.fecha)
                            ).append(
                                $('<td>').append(fila.detalle)
                            ).append(
                                $('<td>').append(
                                    $('<a>').attr({
                                        'href': '#',
                                        'data-key': btoa([fila.dni, empresa, documento].join('|'))
                                    }).addClass('btn btn-sm btn-success').append(
                                        $('<i>').addClass('fa fa-eye mr-1')
                                    ).append('Ver').on('click', cargaHistorial)
                                )
                            )
                        );
                    }
                    $('#reporte-container').append(
                        $('<table>').append(
                            $('<thead>').append(
                                $('<tr>').append(
                                    $('<th>').append('Código')
                                ).append(
                                    $('<th>').append('Nombre')
                                ).append(
                                    $('<th>').append('Puesto')
                                ).append(
                                    $('<th>').append('Fecha lectura')
                                ).append(
                                    $('<th>').append('Detalle lectura')
                                ).append(
                                    $('<th>').append('Historial')
                                )
                            )
                        ).append(tbody).addClass('table table-striped table.hover')
                    );
                }
                else {
                    alert('Debe seleccionar la empresa, área y documento para generar el reporte');
                }
            }
            function modalHistorialOnShow() {
                $('#historial-tbody').empty();
            }
            function cargaHistorial(event) {
                var a = $(this);
                event.preventDefault();
                $('#modal-historial').modal('show');
                var params = {
                    key: a.data('key')
                };
                $.ajax({
                    url: '/intranet/historial-vistas-documento',
                    method: 'post',
                    data: params,
                    dataType: 'json',
                    success: function (result, status, xhr) {
                        if (result.error) {
                            alert(result.error);
                            $('#modal-historial').modal('hide');
                            return;
                        }
                        // escribe los datos del reporte
                        document.getElementById('hs-documento').innerHTML = result.data.documento;
                        document.getElementById('hs-usuario').innerHTML = result.data.nombre;
                        // escribe el detalle
                        var tbody = $('#historial-tbody');
                        var detalle = result.data.detalle;
                        var numDetalle = detalle.length;
                        for (var i = 0; i < numDetalle; i++) {
                            var item = detalle[i];
                            tbody.append(
                                $('<tr>').append(
                                    $('<td>').text(item.version)
                                ).append(
                                    $('<td>').text(item.fecha)
                                ).append(
                                    $('<td>').text(item.detalle)
                                )
                            );
                        }
                    },
                    error: function (xhr, status, error) {
                        alert('error grave. su ordenador derá formateado en breve...');
                        $('#modal-historial').modal('hide');
                    }
                });
            }
            // go!
            $(_ => {
                $('#menu-documentacion').collapse('show')
                $('#documentacion-acuse').addClass('active');
                CargaComboEmpresas();
                $('#rpa-empresa').on('change', CargaComboAreas);
                $('#rpa-area').on('change', CargaComboDocumentos);
                $('#rpa-buscar').on('click', GeneraReporte);
                $('#modal-historial').on('show.bs.modal', modalHistorialOnShow)
            });
        </script>
    </body>
</html>