<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Intranet Corporacion Life</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/assets/intranet/css/login.css">
        <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-5">
                    <form id="form-login" method="post" action="auth-login" class="py-5 mt-5">
                        <img src="/assets/intranet/images/clife-logo.svg" class="mx-auto mb-2 d-block" style="height:64px;" alt="Corporacion Life">
                        <h3 class="text-main text-center font-weight-light mb-3">Bienvenido</h3>
                        <input type="text" name="codigo" class="form-input" placeholder="Documento de Identidad">
                        <input type="password" name="pswd" class="form-input" placeholder="Contraseña">
                        <button class="btn btn-main mt-4 mb-1 py-2">Ingresar</button>
                        <p class="text-center form-link m-0">
                            <a href="activar-cuenta">Activar cuenta</a> | <a href="#">Olvidé mi clave</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
        <!-- separador de bajo presupuesto -->
        <script src="/assets/vendor/jquery/jquery-3.2.1.min.js"></script>
        <script src="/assets/bootstrap/js/popper.min.js"></script>
        <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>