<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Recuperacion de Contraseña</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/assets/vendor/font-awesome-4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/util.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/login.css">
        <link rel="stylesheet" type="text/css" href="/assets/vendor/dhtmlx/skins/skyblue/dhtmlx.css">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <script src="//code.jquery.com/jquery-3.3.1.js"></script>
        <!--script src="assets/vendor/bootstrap/js/popper.js"></script-->
        <script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
        <!--<script src="assets/vendor/jquery/jquery-3.2.1.min.js"></script> -->
        <!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script> -->
        <script type="text/javascript" src="/assets/js/sweetalert.js"></script>
        <style>
            #overlay{
                background-color: #4caf50;
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;
            }
            #overlay>.img-logo{
                height: 240px;
                left: 50%;
                max-width: 50%;
                position: relative;
                top: 50%;
                transform: perspective(1px) translateY(-50%) translateX(-50%);
            }
            #overlay>.img-loader{
                bottom: 16px;
                height: 64px;
                position: absolute;
                right: 40px;
            }
        </style>
    </head>
    <body>
        <script type="text/javascript" src="/assets/vendor/dhtmlx/codebase/dhtmlx.js"></script>
        <div class="limiter" id="recuperahtml">
            <div class="container-login100">

                <div class="wrap-login100 p-l-65 p-r-65 p-t-45 p-b-45 ">
                    <div class="row align-items-center h-100 p-b-30">
                        <img src="/assets/images/home/clife-cloud_panel2.png" class="logo img-responsive center-block" />  
                    </div>
                    <div class="text-center   " id="loginrecupera"  >
                        <h2 class="text-center  txt1 p-b-30" style="font-size: 1.50em;">Recuperacion de Contraseña</h2>
                        <form id="form-login" class="login100-form  validate-form flex-sb flex-w " action="#" method="post">
                            <!-- <span class="login100-form-title p-b-32">Zona Intranet</span> -->
                               <label for="selcusuario" class="txt1 p-b-1">USUARIO</label>
                            <div id="selecdiv" class="wrap-input100  m-b-12" >
                             
                             
                                    <select class="input50" id="selcusuario"></select>
                                    <!--<input class="input50" type="text" id="selcusuario" name="usuarios" placeholder="Ingresa tu usuario" required> -->
                                  
                          
                            </div>
                            <label for="usuario" class="txt1 p-b-1">Nueva contraseña</label>
                            <div class="wrap-input100 validate-input m-b-12" data-validate = "El usuario es requerido">
                                <span class="btn-show-pass">
                                    <i class="fa fa-eye"></i>
                                </span>
                                <input class="input50" type="password" id="nclave" name="nclave" placeholder="Ingresa tu contraseña" required>
                                <span class="focus-input100"></span>
                            </div>

                            <label for="clave" class="txt1 p-b-1">Repita Nueva contraseña</label>
                            <div class="wrap-input100 validate-input m-b-12" data-validate = "La clave es requerida">
                                <span class="btn-show-pass">
                                    <i class="fa fa-eye"></i>
                                </span>
                                <input class="input50" type="password" id="repnclave" name="password" placeholder="Repita su contraseña" required>
                                <span class="focus-input100"></span>
                            </div>

                            <div class="wrap-input100 validate-input m-b-12">
                                <!--<div class="form-group"> -->
                                <input name="recover-submit" name="confirmPassword" class="btn btn-lg btn-primary btn-block" value="Cambiar Contraseña" type="submit">
                                <!--</div> -->
                            </div>
                        </form>
                    </div>


                </div>
            </div>
        </div>


        <div id="overlay">
            <img class="img-logo" src="/assets/images/icons/cloud-life-logo-light.svg" />
            <img class="img-loader" src="/assets/images/icons/loader.svg" />
        </div>


        <script src="/assets/js/login.js"></script>
        <script src="/assets/js/conf.js"></script>
        <script type="text/javascript">
            if (localStorage.getItem('jwt')) {
                location.href = "/";
            } else {
                let params = (document.URL).split("token=");
                valida_token(params[1]);
                var password = document.getElementById("nclave"), confirm_password = document.getElementById("repnclave");

                function validatePassword() {
                    if (password.value != confirm_password.value) {
                        confirm_password.setCustomValidity("Incorrecto, contraseña diferente");
                    } else {
                        confirm_password.setCustomValidity('');
                    }
                }
                password.onchange = validatePassword;
                confirm_password.onkeyup = validatePassword;
                document.getElementById("repnclave").value = '';
                document.getElementById("nclave").value = '';
            }
            $("#loginrecupera").on("submit", save_recuperacion); //
        </script>

    </body>
</html>