<!DOCTYPE html>
<html>
    <head>
        <title>Requerimiento de Materiales</title>       
    </head>
    <body>
        <div id="dhxDesktop"></div>
        
    </body>
    <h1> Lista de usuarios </h1>
    
    <ul>
        {{#each users}}
        <li>Name: {{this.name}}</li>
        <li>Age: {{this.age}}</li>
        <br>
        {{/each}}
    </ul>
    
</html>